<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Ketcher v{{pkg.version}}</title>
		<link rel="stylesheet" href="{{pkg.name}}.css">
		<script src="raphael.min.js"></script>
		<script src="{{pkg.name}}.js"></script>
		<script src="prototype.js"></script>
		{{>about}}
		{{>atom-props}}
		{{>attachment-points}}
		{{>automap}}
		{{>bond-props}}
		{{>generic-groups}}
		{{>open}}
		{{>period-table}}
		{{>rgroup}}
		{{>rgroup-logic}}
		{{>save}}
		{{>sgroup}}
		{{>sgroup-special}}
	</head>

	<body role="applicaion">
		<main id="canvas"></main>
		<menu role="toolbar">
			{{>mainmenu}}
			{{>toolbox}}
			{{>template}}
			{{>elements}}
		</menu>
		<div class="overlay" style="display:none">
			{{>loading}}
		</div>
		{{>crap}}
	</body>
</html>
