<!DOCTYPE html>
<html>
	{{#with options}}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Ketcher v{{pkg.version}}</title>
		<link rel="stylesheet" href="{{pkg.name}}.css">
		{{#each libs}}
			<script src="{{.}}"></script>
		{{/each}}
		<script src="{{pkg.name}}.js"></script>
	</head>

	<body role="applicaion">
		<main id="canvas"></main>
		<menu role="toolbar">
			{{>mainmenu}}
			{{>toolbox}}
			{{>template}}
			{{>elements}}
		</menu>
		<div class="overlay" style="display:none">
			{{>loading}}
			{{>about}}
			{{>atom}}
			{{>attpoints}}
			{{>automap}}
			{{>bond}}
			{{>generic-groups}}
			{{>open}}
			{{>period-table}}
			{{>rgroup}}
			{{>rlogic}}
			{{>save}}
			{{>sgroup}}
            {{#if sgroup-data-special}}{{>sgroup-special}}{{/if}}
			{{>templates}}
		</div>
		{{>crap}}
	</body>
	{{/with}}
</html>
