.rulerArea {
  width: 100%;
  height: 36px;
  background-color: var(--color-background-canvas);
}

.rulerInput {
  position: absolute;
  top: 10px;
  height: 14px;
  width: 26px;
  border: var(--border-regular);
  border-radius: 3px;
  /*opacity: 40%;*/
  text-align: center;
  box-shadow: var(--shadow-regular);
  z-index: 10;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;

  &:hover {
    //cursor: pointer;
  }

  &:focus {
    height: 18px;
    outline: none;
    border: 1px solid var(--color-input-border-hover);
  }
}

.rulerScale {
  height: 100%;
  width: 100%;
}
