.rulerArea {
  width: 100%;
  height: 36px;
  background-color: var(--color-background-canvas);

  &:hover, &.rulerAreaDragging {
    > .rulerInput {
      opacity: 100%;
      box-shadow: var(--shadow-regular);
    }

    > .rulerScale {
      visibility: visible;
    }
  }
}

.rulerInput {
  position: absolute;
  top: 0;
  height: 14px;
  width: 26px;
  border: var(--border-regular);
  border-radius: 3px;
  opacity: 40%;
  text-align: center;
  z-index: 10;

  &:hover {
    cursor: pointer;
    border: 1px solid var(--color-input-border-hover);
  }

  &:focus {
    height: 18px;
    outline: none;
    border: 1px solid var(--color-input-border-hover);
  }

  &.rulerInputDragging {
    user-select: none;
  }
}

.rulerScale {
  height: 100%;
  width: 100%;
  visibility: hidden;
  pointer-events: none;
}

.rulerHandle {
  position: absolute;
  top: 0;
  width: 16px;
  height: 13px;

  &:hover {
    cursor: pointer;
  }
}
