@import '../../../../../../../style/variables';

.attachmentPoint {
  display: flex;
  align-items: center;
  padding: 8px 4px 8px 8px;
  border: 1px solid @color-grey-4;
  border-radius: 4px;
  background-color: @color-grey-3;
  cursor: pointer;
}

.attachmentPointText {
  margin: 0;
  flex-grow: 1;
}

.attachmentPointIndex {
  font-weight: 700;
}
