{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": "airbnb",
  "settings": {
    "react": { "pragma": "h" }
  },
  "globals": {
    "fetch": true,
    "document": true,
    "window": true,
    "localStorage": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "curly": ["error", "multi-or-nest", "consistent"],
    "dot-notation": "off",
    "indent": ["error", "tab"],
    "import/prefer-default-export": "off",
    "func-names": "off",
    "function-paren-newline": ["error", "consistent"],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],

    "no-alert": "warn",
    "no-bitwise": "off",
    "no-cond-assign": ["error", "except-parens"],
    "no-console": "warn",
    "no-continue": "warn",
    "no-debugger": "error",
    "no-fallthrough": "off",
    "no-mixed-operators": "warn",
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
    "no-tabs": "off",
    "no-use-before-define": "off",
    "no-useless-escape": "off",
    "no-underscore-dangle": "warn",
    "no-unneeded-ternary": "error",

    "max-lines": ["off", { "max": 300, "skipBlankLines": true, "skipComments": true }], // TODO refactor 15 files
    "max-nested-callbacks": ["error", 4],
    "max-params": ["warn", 4],
    "max-statements": ["warn", 15],

    "object-curly-newline": "off",
    "operator-assignment": ["error", "always"],
    "prefer-destructuring": "off",
    "prefer-template": "off",
    "radix": "off",
    "spaced-comment": ["error", "always", { "exceptions": ["*"] }],
    "unicode-bom": ["error", "never"],

    /* jsx */
    "react/jsx-first-prop-new-line": ["error", "multiline"],
    "react/jsx-indent": ["error", "tab"],
    "react/jsx-indent-props": ["error", "tab"],
    "react/jsx-no-bind": ["error", {
      "allowArrowFunctions": true,
      "allowBind": false,
      "ignoreRefs": true
    }],
    "react/jsx-no-target-blank": "off", // todo: correct About
    "react/no-did-update-set-state": "error",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "error",
    "react/sort-comp": "off",

    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/iframe-has-title": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off"
  }
}
