{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": "airbnb",
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "globals": {
    "fetch": true,
    "window": true, // TODO DISABLE !!!
    "navigator": true, // TODO DISABLE !!!
    "document": true,
    "alert": true, // TODO DISABLE !!!
    "addEventListener": true // TODO DISABLE !!
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "curly": ["error", "multi-or-nest", "consistent"],
    "dot-notation": "off",
    "indent": ["off", "tab"], // TODO !!
    "func-names": "off",
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],

    "no-alert": "off", // TODO warn!!
    "no-bitwise": "off",
    "no-console": "off", // TODO warn!!
    "no-continue": "off", // TODO warn!!
    "no-debugger": "error",
    "no-fallthrough": "off",
    "no-mixed-operators": "off", // TODO warn
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
    "no-plusplus": "off",
    "no-tabs": "off",
    "no-useless-escape": "off",
    "no-underscore-dangle": "off", // TODO warn
    "no-unneeded-ternary": "error",

    "max-lines": ["off", {"max": 300, "skipBlankLines": true, "skipComments": true}], //TODO !!!
    "max-nested-callbacks": ["error", 4],
    "max-params": ["off", 4], // TODO warn
    "max-statements": ["off", 15], // TODO warn

    "object-curly-newline": "off",
    "operator-assignment": ["error", "always"],
    "prefer-promise-reject-errors": "off",
    "prefer-template": "off",
    "radix": "off",
    "spaced-comment": ["off", "always", { "exceptions": ["*"] }], // TODO !!!
    "unicode-bom": ["error", "never"],

    /* remove below */

    "no-restricted-globals": "off", // TODO !!!!!!!!!! <>
    "no-extend-native": "off", // TODO !!!!!!!!!!!!!!!!!!! SET
    "prefer-spread": "off", // TODO !!!
    "no-return-assign": "off", // TODO !!
    "no-regex-spaces": "off", // TODO ???
    "consistent-return": "off", // TODO !!!!!
    "prefer-rest-params": "off", // TODO !

    "no-prototype-builtins": "off", // TODO ???
    "no-undef": "off", // TODO !!!
    "no-redeclare": "off", // TODO!!
    "no-extra-boolean-cast": "off", // TODO !!!!

    "comma-spacing": "off", // TODO !!
    "keyword-spacing": "off", // TODO !!
    "default-case": "off", // TODO !!
    "no-throw-literal": "off", // TODO !!

    "no-case-declarations": "off", // TODO ???
    "guard-for-in": "off", // TODO ??
    "no-cond-assign": "off", // TODO !!!

    "arrow-parens": "off", // TODO !!!
    "prefer-destructuring": "off", // TODO !!!!!
    "wrap-iife": "off", // TODO !!!!
    "no-new": "off", // TODO !!!!
    "vars-on-top": "off", // TODO !!!
    "one-var-declaration-per-line": "off", // TODO !!!
    "no-loop-func": "off", // TODO !!
    "yoda": "off", // TODO !!!

    "block-scoped-var": "off", // TODO ??
    "no-shadow": "off", // TODO !!!!
    "eqeqeq": "off", // TODO !!!
    "prefer-const": "off", // TODO !!!
    "no-param-reassign": "off", // TODO !!!
    "no-restricted-syntax": "off", // TODO !!!
    "no-use-before-define": "off", // TODO !!!
    "function-paren-newline": "off", // TODO !!!
    "no-var": "off", // TODO !!!
    "one-var": "off", // TODO !!!

    "arrow-body-style": "off", // TODO !!
    "object-shorthand": "off", // TODO !!
    "quotes": "off", // TODO ???
    "no-unused-vars": "off", // TODO !!!
    "space-before-function-paren": "off", // TODO !!!
    "no-mixed-spaces-and-tabs": "off", // TODO !!!
    "no-multi-spaces": "off", // TODO !!!!
    "space-in-parens": "off", // TODO !!!
    "no-multi-assign": "off", // TODO !!

    "space-infix-ops": "off", // TODO !!!
    "max-len": "off", // TODO !!!
    "prefer-arrow-callback": "off", // TODO !!!
    "no-confusing-arrow": "off", // TODO !!
    "quote-props": "off", // TODO !!!
    "brace-style": "off", // TODO !!!
    "import/first": "off", // TODO !!!
    "import/prefer-default-export": "off", // TODO !!
    "import/no-extraneous-dependencies": "off", // TODO !!
    "import/no-named-as-default-member": "off", // TODO !!
    "import/no-named-as-default": "off", // TODO !!
    "no-unused-expressions": "off" // TODO !!!
  }
}
