<input id="input_label" type="text" maxlength="4" size="4" style="display:none;" />

<div id="window_cover" style="width:0;height:0;display:none">
   <div id="loading" style="display:none"></div></div>

<div class="dialogWindow fileDialog" id="open_file" style="display:none;">
   <div style="width:100%">
	  <div>
		 Open File
	  </div>
	  <div style="height:0.5em"></div>
	  <div class="serverRequired" style="font-size:small">
		 <input type="radio" id="radio_open_from_input" name="input_source" checked>Input</input>
		 <input type="radio" id="radio_open_from_file" name="input_source">File</input>
	  </div>
	  <div class="serverRequired" style="font-size:small" align="left">
		 <input type="checkbox" id="checkbox_open_copy" name="open_mode">Load as a fragment and copy to the Clipboard</input>
	  </div>
	  <div class="serverRequired" id="open_from_file">
		 <form id="upload_mol" style="margin-top:4px" action="open" enctype="multipart/form-data" target="buffer_frame" method="post">
			<input type="file" name="filedata" id="molfile_path" />
			<div style="margin-top:0.5em;text-align:center">
			   <input id="upload_cancel" type="button" value="Cancel" />
			   <input type="submit" value="OK" />
			</div>
		 </form>
	  </div>
	  <div style="margin:4px;" id="open_from_input">
		 <textarea class="chemicalText" id="input_mol" wrap="off"></textarea>
		 <div style="margin-top:0.5em;text-align:center">
			<input id="read_cancel" type="button" value="Cancel" />
			<input id="read_ok" type="submit" value="OK" />
		 </div>
	  </div>
   </div>
</div>

<div class="dialogWindow fileDialog" id="save_file" style="display:none;">
   <div style="width:100%">
	  <div>
		 Save File
	  </div>
	  <div style="height:0.5em"></div>
	  <div>
		 <label>Format:</label>
		 <select id="file_format">Format:
			<option value="mol">MDL/Symyx Molfile</option>
			<option value="smi">Daylight SMILES</option>
			<option id="file_format_inchi" value="inchi">InChI String</option>
			<!--option value="png">Portable Network Graphics PNG</option>
			<option value="svg">Scalable Vector Graphics SVG</option-->
		 </select>
	  </div>
	  <div style="margin:4px;">
		 <textarea class="chemicalText" id="output_mol" wrap="off" readonly></textarea>
		 <form	id="download_mol" style="margin-top:0.5em;text-align:center" action="save" enctype="multipart/form-data" target="_self" method="post">
			<input type="hidden" id="mol_data" name="filedata" />
			<input type="submit" class="serverRequired" value="Save..." />
			<input id="save_ok" type="button" value="Close" />
		 </form>
	  </div>
   </div>
</div>

<div class="dialogWindow propDialog" id="atom_properties" style="display:none;">
   <div style="width:100%">
	  <div>
		 Atom Properties
	  </div>
	  <div style="height:0.5em"></div>
	  <table style="text-align:left">
		 <tr>
			<td>
			   <label>Label:</label>
			</td>
			<td>
			   <input id="atom_label" type="text" maxlength="2" size="3" />
			</td>
			<td rowspan="5" style="width:5px">
			</td>
			<td>
			   <label>Number:</label>
			</td>
			<td>
			   <input id="atom_number" type="text" readonly="readonly" maxlength="3" size="3" />
			</td>
			<td rowspan="5" style="width:10px">
			</td>
			<td colspan="2" style="background-color: #D7D7D7">
			   Query specific
			</td>
		 </tr>
		 <tr>
			<td>
			   <label>Charge:</label>
			</td>
			<td>
			   <input id="atom_charge" type="text" maxlength="3" size="3" />
			</td>
			<td>
			   <label>Valency:</label>
			</td>
			<td>
			   <select id="atom_valence" style="width:100%">
				  <option value=""></option>
				  <option value="0">0</option>
				  <option value="1">I</option>
				  <option value="2">II</option>
				  <option value="3">III</option>
				  <option value="4">IV</option>
				  <option value="5">V</option>
				  <option value="6">VI</option>
				  <option value="7">VII</option>
				  <option value="8">VIII</option>
			   </select>
			</td>
			<td>
			   <label>Ring bond count:</label>
			</td>
			<td>
			   <select id="atom_ringcount" style="width:100%">
				  <option value="0"></option>
				  <option value="-2">As drawn</option>
				  <option value="-1">0</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
			   </select>
			</td>
		 </tr>
		 <tr>
			<td>
			   <label>Isotope:</label>
			</td>
			<td>
			   <input id="atom_isotope" type="text" maxlength="3" size="3" />
			</td>
			<td>
			   <label>Radical:</label>
			</td>
			<td>
			   <select id="atom_radical">
				  <option value="0"></option>
				  <option value="2">Monoradical</option>
				  <option value="1">Diradical (singlet)</option>
				  <option value="3">Diradical (triplet)</option>
			   </select>
			</td>
			<td>
			   <label>H count:</label>
			</td>
			<td>
			   <select id="atom_hcount" style="width:100%">
				  <option value="0"></option>
				  <option value="1">0</option>
				  <option value="2">1</option>
				  <option value="3">2</option>
				  <option value="4">3</option>
				  <option value="5">4</option>
			   </select>
			</td>
		 </tr>
		 <tr>
			<td colspan="5" style="background-color: #D7D7D7">
			   Reaction flags
			</td>
			<td>
			   <label>Substitution count:</label>
			</td>
			<td>
			   <select id="atom_substitution" style="width:100%">
				  <option value="0"></option>
				  <option value="-2">As drawn</option>
				  <option value="-1">0</option>
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				  <option value="6">6</option>
			   </select>
			</td>
		 </tr>
		 <tr>
			<td>
			   <label>Inversion:</label>
			</td>
			<td>
			   <select id="atom_inversion">
				  <option value="0"></option>
				  <option value="1">Inverts</option>
				  <option value="2">Retains</option>
			   </select>
			</td>
			<td>
			   <label>Exact:</label>
			</td>
			<td>
			   <select id="atom_exactchange" style="width:100%">
				  <option value="0"></option>
				  <option value="1">Exact change</option>
			   </select>
			</td>
			<td>
			   <label>Unsaturation:</label>
			</td>
			<td>
			   <select id="atom_unsaturation">
				  <option value="0"></option>
				  <option value="1">Unsaturated</option>
			   </select>
			</td>
		 </tr>
	  </table>
	  <div style="margin-top:0.5em">
		 <input id="atom_prop_cancel" type="button" value="Cancel" />
		 <input id="atom_prop_ok" type="button" value="OK" />
	  </div>
   </div>
</div>

<div class="dialogWindow propDialog" id="atom_attpoints" style="display:none;">
   <div style="width:100%">
	  <div>
		 Attachment Points
	  </div>
	  <table style="text-align:left">
		 <tr>
			<td>
			   <input type="checkbox" id="atom_ap1">
			</td>
			<td>
			   Primary attachment point
			</td>
		 </tr>
		 <tr>
			<td>
			   <input type="checkbox" id="atom_ap2">
			</td>
			<td>
			   Secondary attachment point
			</td>
		 </tr>
	  </table>
	  <div style="height:0.5em"></div>
	  <div style="margin-top:0.5em">
		 <input id="atom_attpoints_cancel" type="button" value="Cancel" />
		 <input id="atom_attpoints_ok" type="button" value="OK" />
	  </div>
   </div>
</div>

<div class="dialogWindow propDialog" id="bond_properties" style="display:none;">
   <div style="width:100%">
	  <div>
		 Bond Properties
	  </div>
	  <div style="height:0.5em"></div>
	  <table style="text-align:left">
		 <tr>
			<td>
			   <label>Type:</label>
			</td>
			<td>
			   <select id="bond_type" style="width:100%">
				  <option value="single">Single</option>
				  <option value="up">Single Up</option>
				  <option value="down">Single Down</option>
				  <option value="updown">Single Up/Down</option>
				  <option value="double">Double</option>
				  <option value="crossed">Double Cis/Trans</option>
				  <option value="triple">Triple</option>
				  <option value="aromatic">Aromatic</option>
				  <option value="any">Any</option>
				  <option value="singledouble">Single/Double</option>
				  <option value="singlearomatic">Single/Aromatic</option>
				  <option value="doublearomatic">Double/Aromatic</option>
			   </select>
			</td>
		 </tr>
		 <tr>
			<td>
			   <label>Topology:</label>
			</td>
			<td>
			   <select id="bond_topology" style="width:100%">
				  <option value="0">Either</option>
				  <option value="1">Ring</option>
				  <option value="2">Chain</option>
			   </select>
			</td>
		 </tr>
		 <tr>
			<td>
			   <label>Reacting Center:</label>
			</td>
			<td>
			   <select id="bond_center">
				  <option value="0">Unmarked</option>
				  <option value="-1">Not center</option>
				  <option value="1">Center</option>
				  <option value="2">No change</option>
				  <option value="4">Made/broken</option>
				  <option value="8">Order changes</option>
				  <option value="12">Made/broken and changes</option>
				  <!--option value="5">Order changes</option>
				  <option value="9">Order changes</option>
				  <option value="13">Order changes</option-->
			   </select>
			</td>
		 </tr>
	  </table>
	  <div style="margin-top:0.5em">
		 <input id="bond_prop_cancel" type="button" value="Cancel" />
		 <input id="bond_prop_ok" type="button" value="OK" />
	  </div>
   </div>
</div>

<div class="dialogWindow sgroupDialog" id="sgroup_properties" style="display:none;">
   <div style="width:100%">
	  <div>
		 S-Group Properties
	  </div>
	  <div style="height:0.5em"></div>
	  <table style="text-align:left">
		 <tr>
			<td>
			   <label>Type:</label>
			</td>
			<td>
			   <select id="sgroup_type">
				  <option value="GEN">Generic</option>
				  <option value="MUL">Multiple group</option>
				  <option value="SRU">SRU polymer</option>
				  <option value="SUP">Superatom</option>
				  <option value="DAT">Data</option>
			   </select>
			</td>
		 </tr>
		 <tr class="generalSGroup">
			<td>
			   <label>Connection:</label>
			</td>
			<td>
			   <select id="sgroup_connection">
				  <option value="ht">Head-to-tail</option>
				  <option value="hh">Head-to-head</option>
				  <option value="eu">Either unknown</option>
			   </select>
			</td>
		 </tr>
		 <tr class="generalSGroup">
			<td>
			   <label>Label (subscript):</label>
			</td>
			<td>
			   <input id="sgroup_label" type="text" maxlength="15" size="15" />
			</td>
		 </tr>
		 <tr class="dataSGroup">
			<td>
			   <label>Field name:</label>
			</td>
			<td>
			   <input id="sgroup_field_name" type="text" maxlength="30" size="30" />
			</td>
		 </tr>
		 <tr class="dataSGroup">
			<td>
			   <label>Field value:</label>
			</td>
		 </tr>
		 <tr class="dataSGroup">
			<td colspan="2">
			   <textarea class="dataSGroupValue" id="sgroup_field_value"></textarea>
			</td>
		 </tr>
		 <tr class="dataSGroup">
			<td colspan="2">
			   <input type="radio" id="sgroup_pos_absolute" name="data_field_pos" checked>Absolute</input>
			   <input type="radio" id="sgroup_pos_relative" name="data_field_pos">Relative</input>
			   <input type="radio" id="sgroup_pos_attached" name="data_field_pos">Attached</input>
			</td>
		 </tr>
	  </table>
	  <div style="margin-top:0.5em">
		 <input id="sgroup_prop_cancel" type="button" value="Cancel" />
		 <input id="sgroup_prop_ok" type="button" value="OK" />
	  </div>
   </div>
</div>

<div class="dialogWindow automapDialog" id="automap_properties" style="display:none;">
   <div style="width:100%">
	  <div>
		 Reaction Auto-Mapping Parameter
	  </div>
	  <div style="height:0.5em"></div>
	  <table style="text-align:left">
		 <tr>
			<td>
			   <label>Mode:</label>
			</td>
			<td>
			   <select id="automap_mode">
				  <option value="discard">Discard</option>
				  <option value="keep">Keep</option>
				  <option value="alter">Alter</option>
				  <option value="clear">Clear</option>
			   </select>
			</td>
		 </tr>
	  </table>
	  <div style="margin-top:0.5em">
		 <input id="automap_cancel" type="button" value="Cancel" />
		 <input id="automap_ok" type="button" value="OK" />
	  </div>
   </div>
</div>

<div class="dialogWindow elemTableDialog" id="elem_table" style="display:none;">
   <div>
	  <div>
		 Periodic table
	  </div>
	  <div style="height:0.5em"></div>
	  <div id="elem_table_area"></div>
	  <div align="left">
		 <input type="radio" id="elem_table_single" name="atom_list"
				onchange="if (!Prototype.Browser.IE) ui.elem_table_obj.setMode('single')"
				onclick="if (Prototype.Browser.IE) ui.elem_table_obj.setMode('single')"
				>Single</input> <br />
		 <input type="radio" id="elem_table_list" name="atom_list"
				onchange="if (!Prototype.Browser.IE) ui.elem_table_obj.setMode('list')"
				onclick="if (Prototype.Browser.IE) ui.elem_table_obj.setMode('list')"
				>List</input> <br />
		 <input type="radio" id="elem_table_notlist" name="atom_list"
				onchange="if (!Prototype.Browser.IE) ui.elem_table_obj.setMode('notlist')"
				onclick="if (Prototype.Browser.IE) ui.elem_table_obj.setMode('notlist')"
				>Not List</input>
	  </div>
	  <div style="margin-top:0.5em">
		 <input id="elem_table_cancel" type="button" value="Cancel" />
		 <input id="elem_table_ok" type="button" value="OK" />
	  </div>
   </div>
</div>

<div class="dialogWindow rgroupTableDialog" id="rgroup_table" style="display:none;">
   <div>
	  <div>
		 R-Group
	  </div>
	  <div style="height:0.5em"></div>
	  <div id="rgroup_table_area"></div>
	  <div style="margin-top:0.5em">
		 <input id="rgroup_table_cancel" type="button" value="Cancel" />
		 <input id="rgroup_table_ok" type="button" value="OK" />
	  </div>
   </div>
</div>

<div class="dialogWindow rlogicTableDialog" id="rlogic_table" style="display:none;">
   <div style="width:100%">
	  <div>
		 R-Group Logic
	  </div>
	  <div style="height:0.5em"></div>
	  <table style="text-align:left">
		 <tr>
			<td>
			   <label for="rlogic_occurrence">Occurrence:</label>
			   <input id="rlogic_occurrence" type="text" maxlength="50" size="10" />
			</td>
			<td>
			   <label for="rlogic_resth">RestH:</label>
			   <select id="rlogic_resth">
				  <option value="0">Off</option>
				  <option value="1">On</option>
			   </select>
			</td>
			<td>
			   <label for="rlogic_if">Condition:</label>
			   <select id="rlogic_if">
				  <option value="0">Always</option>
			   </select>
			</td>
		 </tr>
	  </table>
	  <div style="margin-top:0.5em">
		 <input id="rlogic_cancel" type="button" value="Cancel" />
		 <input id="rlogic_ok" type="button" value="OK" />
	  </div>
   </div>
</div>

<div class="dialogWindow reagenericsTableDialog" id="reagenerics_table" style="display:none;">
   <div>
	  <div>
		 Reaxys Generics
	  </div>
	  <div style="height:0.5em"></div>
	  <div id="reagenerics_table_area"></div>
	  <div style="margin-top:0.5em">
		 <input id="reagenerics_table_cancel" type="button" value="Cancel" />
		 <input id="reagenerics_table_ok" type="button" value="OK" disabled />
	  </div>
   </div>
</div>

<div class="aboutDialog" id="about_dialog" style="display:none;">
   <div>
	  <div>
		 About
	  </div>
	  <div style="height:0.5em"></div>
	  <div>
		 <a href="http://ggasoftware.com/opensource/ketcher#overview" target="_blank"><img src="icons/logo_small01.jpg"></img></a>
	  </div>
	  <table style="width:100%" cellspacing="5">
		 <tr>
			<td style="float:left"><a href="http://ggasoftware.com/opensource/ketcher#overview" target="_blank" style="color:#0000CC">Ketcher</a></td>
			<td style="float:right" id="ketcher_version">Version 1.0</td>
		 </tr>
		 <tr>
			<td style="float:left"><a href="http://ggasoftware.com" target="_blank" style="color:#0000CC">GGA Software Services</a></td>
			<td style="float:right"><a href="http://ggasoftware.com/opensource/ketcher#feedback" target="_blank" style="color:#0000CC">Feedback</a></td>
		 </tr>
	  </table>
	  <div style="margin:4px;">
		 <button onclick="ui.hideDialog('about_dialog')">Close</button>
	  </div>
   </div>
</div>

<iframe name="buffer_frame" id="buffer_frame" src="about:blank" style="display:none">
</iframe>
