body
{
    margin: 0;
}

body > div:first-child
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.ketcherDivMaxSize
{
   max-width: 900px;
   max-height: 500px;
}

a, img
{
    border-color: #E0E0E0;
    color: #E0E0E0;
    border-width: 0;
    vertical-align: middle;
    padding: 1px;
}

td
{
    padding: 0;
}

table#ketcher_window
{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    background-color: #E0E0E0;
    border-color: white;
    border-style: outset;
    border-width: thin;
}

/*
table#ketcher_window > tr
{
    height: 32px;
}
*/

#main_toolbar
{
    height: 40px;
}

.toolButton, .sideButton
{
    cursor: pointer;
    border-color: #E8E8E8;
    border-width: thin;
    border-style: solid;
    background-color: #DADADA;
    /*vertical-align: middle;*/
}

.modeButton
{
}

.stateButton
{
}

.dropdownIcon
{
    width: 24px;
    height: 24px;
}

.dropdownIconTemplate
{
    height: 48px;
}

.toolIcon
{
    width: 32px;
    height: 36px;
}

.toolButtonCell
{
    width: 36px;
}

.sideButtonCell
{
    height: 36px;
}

.sideButton
{
    width: 32px;
    height: 32px;
    padding: 1px;
}

.buttonHighlight
{
    border-color: white;
}

.buttonDisabled
{
    opacity: 0.25;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
}

.toolDelimiter
{
    width: 16px;
}

.buttonPressed, .buttonSelected
{
    border-color: #606060;
    border-style: inset;
    background-color: white;
}

#client_area
{
    overflow: auto;
    background-color: white;
    border-color: #E0E0E0;
    border-style: inset;
    border-width: 1px;
    text-align: left;
    width: 100%;
    height: 100%;
}

#elem_table_area
{
    background-color:#E0E0E0;
    border-style: none;
}

#rgroup_table_area
{
    background-color:#E0E0E0;
    border-style: none;
}

#reagenerics_table_area
{
    background-color:#E0E0E0;
    border-style: none;
}

.dropdownButton
{
    cursor: pointer;
    position: absolute;
    left: 28px;
    top: 28px;
}

.dropdownList
{
    position: absolute;
    z-index: 2;
    left: 6px;
    background-color: #FAFAFA;
    border-style: outset;
    border-width: thin;
    border-color: white
}

.dropdownList > table
{
    font-family: arial;
    font-size:   0.9em;
}

#selector_dropdown_list
{
    top: 43px;
}

#bond_dropdown_list
{
    top: 120px;
}

#template_dropdown_list
{
    top: 196px;
}

#customtemplate_dropdown_list
{
    top: 48px;
    left: 45px;
}

#reaction_dropdown_list
{
    top: 310px;
}

#rgroup_dropdown_list
{
    top: 386px;
}

#transform_dropdown_list
{
    top: 424px;
}

.dropdownListItem
{
    cursor: default;
}

.dropdownListItemTemplate
{
    cursor: default;
}

.dropdownListItem > td > div
{
    float:  left;
    margin-right: 2px;
    margin-top : -3px;
}

.dropdownListDelimiter
{
    background-color: #C0C0C0;
    height: 2px;
}

.highlightedItem
{
    background-color: #C0C0C0;
}

#buffer_frame
{
    display: none;
}

input#input_label
{
    position: absolute;
    z-index:  3;
}

div#window_cover
{
    position: absolute;
    z-index:  4;
    background-color: black;
    left:     0;
    top:      0;
    opacity:    0.15;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    filter:     alpha(opacity=15);
}

div#loading
{
    width:  100%;
    height: 100%;
    background-image:    url('loading.gif');
    background-repeat:   no-repeat;
    background-position: center center;
}

.dialogWindow
{
    position: absolute;
    z-index:  5;
    background-color: #E0E0E0;
    border-color: #F0F0F0;
    border-style: outset;
    border-width: thin;
    padding: 4px;
    text-align: center;
    left:  10%;
    top:   10%;
}

.dialogWindow > div > div:first-child
{
    background-color: #D0D0D0;
}

.fileDialog
{
}

.elemTableDialog
{
    left:  5%;
    top:   5%;
}

.chemicalText
{
    width: 320px;
    height: 320px;
    overflow:    auto;
    white-space: pre;
}

.chemicalText_IE
{
    white-space: pre;
}

.dataSGroupValue
{
    width: 320px;
    height: 200px;
    overflow:    auto;
}

.propDialog
{
}

.aboutDialog
{
    position: absolute;
    z-index:  5;
    background-color: #FFFFFF;
    border-color: #F0F0F0;
    border-style: inset;
    border-width: normal;
    padding: 4px;
    text-align: center;
    left:  300px;
    top:   100px;
}

.aboutDialog > div > div:first-child
{
    background-color: #D0D0D0;
}
