@import "variables";
@import "form";
@import (reference) "component";

#loading {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 10%;
	height: 10%;

	fill: rgba(0, 0, 0, 0.5);
}

/////////////////////

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 40;
	text-align: center;

	background-image: data-uri('overlay.svg');
	.background-opacity(#777, 0.2);
	//opacity: 1;

	&.animate {
		transition: background-color 0.3s;
		//transition: opacity 0.3s;
	}

	&.hide {
		background-color: fade(#777, 1%);
		//opacity: 0.1;
	}

	&:after {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	form[role=dialog] {
		display: inline-block;
		position: relative;
		vertical-align: middle;
	}
}

form[role=dialog] {
	text-align: left;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	background-clip: padding-box;
	overflow: hidden;
	.transition-zoom;
	//outline: 0;
	>* {
		margin: 0.3em;
	}
	header, footer {
		margin: 0;
		padding: 0.2em 0.6em;
		background-color: #f5f5f5;
	}
	header {
		font-size: 1.6em;
		font-weight: 600;
		line-height: 1.3;
		border-bottom: 1px solid #ddd;
	}
	footer {
		clear: both;
		border-top: 1px solid #ddd;
		text-align: right;
	}
}

/////////////////////

.template-lib {
	label {
		position: absolute;
		right: 0;
		left: 0;
	}
	input[type=search] {
		width: 100%;
	}
	.groups {
		&:extend(.-Select all);
		margin-top: 3.5em;
		height: 27em;
		width: 11em;
		float: left;
	}
	.outer {
		margin-top: 3.5em;
		padding: 0;
		float: left;
		width: 550px;
		height: 27em;
		overflow: auto;
	}
	img {
		width: 100%;
		height: 100%;
	}
	table, tr {
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
		border: 0;
	}
	tr {
		line-height: 120px;
		height: 120px;
	}
	td {
		//padding: @item-pad;
		padding: 0 5px;
		overflow: hidden;
		width: 33%;
		height: 120px;
		line-height: 120px;
		position: relative;
		div {
			height: 120px;
			overflow: hidden;
			&:before {
				position: absolute;
				left: 10px;
				top: 5px;
				font-size: 10px;
				color: darken(@border-color, 30%);
				content: attr(title);
			}
			&:hover {
				background: @form-hover-background;
			}
			&.selected {
				background-color: lighten(@form-selected-background, 15%);
			}
		}

	}
}

.bond-props {
	label {
		text-align: right;
		display: block;
	}
	select {
		width: 12em;
	}
}

.atom-props {
	label {
		display: block;
		text-align: right;
		line-height: @input-height;
		height: @input-height;
	}
	.main {
		float: left;
		&:extend(fieldset.-hidden);
		input {
			width: 8em;
		}
	}
	.query, .reaction {
		float:right;
		clear: right;
		width: 16em;
	}
}

.attachment-points {
	label {
		display: block;
	}
}

.automap {
	label {
		display: block;
		text-align: right;
	}
}

.rgroup-logic {
	label {
		display: inline-block;
		text-align: right;
		line-height: @input-height;
	}
	.cond {
		display: block;
	}
	input[type=text] {
		width: 7em;
	}

}

.sgroup, .sgroup-special {
	label {
		display: block;
		text-align: right;
		&.pos {
			margin: 0.3em 0 0;
			display: inline-block;
		}
	}
	fieldset {
		border: 0;
		padding: 0;
	}
	.data label {
		text-align: left;
	}
	.data textarea, select[name=fieldValue] {
		display: block;
		width: 20em;
		height: 12em;
		overflow: auto;
	}
	.data input[type=text], select[name=fieldName] {
		width: 20em;
		display: block;
	}
}

.about {
	>a, img {
		display: block;
	}
	var {
		font-style: normal;
		font-weight: bold;
	}
	time {
		font-style: italic;
	}
	a {
		// ASK DESIGNER: to style generic links
	}

	@line-height: 1.4em;
	dl {
		position: relative;
		margin: 0 1em 1em;
		vertical-align: bottom;
		line-height: @line-height;
	}
	dd {
		text-align: right;
		margin-bottom: 0.5em;
	}
	dt+dd {
		margin: -@line-height 0 0;
	}
}

.rgroup {
	ul {
		width: 26em;
		padding: 0.5em 0.5em 1em;
	}
	li {
		display: inline-block;
		margin: 0.2em 0.1em;
	}
	button {
		font-size: 1.3em;
		width: 2.3em;
		height: 2em;
		line-height: 1;
		vertical-align: middle;
		padding: 0.15em;
		background: inherit;
		&:first-letter {
			font-weight: 600;
			color: lighten(@main-color, 20%);
		}
		&:hover {
			.highlight-scale;
			.highlight-shadow(black);
		}
		&:active {
			.highlight-scale(none);
			.highlight-shadow(none);
		}
		&.selected {
			.highlight-invert;
			&:first-letter {
				color: darken(white, 30%);
			}
		}
	}
}

.period-table {
	td, th {
		padding: 0;
		margin: 0;
		text-align: center;
		vertical-align: middle;
	}
	th, td.ref {
		opacity: 0.6;
		font-weight: normal;
		font-size: 0.8em;
		padding: 0.3em 0.8em;
	}
	th.ref {
		vertical-align: top;
		text-align: right;
	}
	tr:nth-of-type(8) {
		border-bottom: 1em solid transparent;
	}

	button {
		font-size: 1.3em;
		width: 2em;
		height: 2em;
		line-height: 2;
		vertical-align: middle;
		padding: 0.15em;
		margin: 1px;
		border: 0;
		display: block;
		position: relative;

		&:after {
			position: absolute;
			opacity: 0.6;
			top: 0.3em;
			right: 0.3em;
			font-size: 0.5em;
			line-height: 1;
			vertical-align: top;
			content: attr(value);
		}
		&:hover, &.selected {
			&:after {
				visibility: hidden;
			}
		}
		&:not(:hover) {
			color: inherit;
		}
		&:hover {
			.highlight-scale;
			.highlight-shadow(black);
			z-index: 60;
			background: #fff;
		}
		&:active {
			.highlight-scale(none);
			.highlight-shadow(none);
		}
		&.selected {
			.highlight-invert;
		}
	}

	fieldset {
		border: 0;
		padding: 0.5em;
		margin: 1em 0 0 1.5em;
	}

	.diatomic {
		background: @atom-periodic-diatomic;
	}
	.noble {
		background: @atom-periodic-noble-gas;
	}
	.alkali {
		background: @atom-periodic-alkali-metal;
	}
	.alkaline-earth {
		background: @atom-periodic-alkaline-earth-metal;
	}
	.metalloid {
		background: @atom-periodic-metalloid;
	}
	.polyatomic {
		background: @atom-periodic-polyatomic;
	}
	.post-transition {
		background: @atom-periodic-post-transition-metal;
	}
	.transition {
		background: @atom-periodic-transition-metal;
	}
	.lanthanide {
		background: @atom-periodic-lanthanide;
	}
	.actinide {
		background: @atom-periodic-actinide;
	}
	.unknown-properties {
		background: @atom-periodic-unknown-properties;
	}
	.metal:after {
		color: #006;
	}
	.gas:after {
		color: #c00;
	}
	.liquid:after {
		color: #0a0;
	}
}

.generic-groups {
	.atom>fieldset, .acyclic, .cyclic {
		display: inline-block;
		vertical-align: top;
		&+fieldset {
			margin-left: 0.3em;
		}
	}
	.cyclic>fieldset, .carbo, .hetero  {
		float: left;
	}
	.carbo {
		clear: both;
	}
	.hetero {
		margin-left: 0.3em;
	}
	.cyclic>fieldset:first-of-type {
		margin: 0 0.3em 0 0.8em; // smells like a hack
	}
	fieldset {
		text-align: center;
	}
	.not, .atom>fieldset, .carbo>fieldset, .hetero>fieldset {
		position: relative;
		border: 0;
		padding: 0 0 1em;
		legend {
			font-size: 0.7em;
			bottom: 0.1em;
			left: 0;
			right: 0;
			margin: 0 auto;
			position: absolute;
		}
	}
	button {
		font-size: 1.1em;
		height: 2em;
		width: 2.5em;
		line-height: 1;
		vertical-align: middle;
		padding: 0.15em;
		background: inherit;
		&:hover {
			.highlight-scale;
			.highlight-shadow(black);
		}
		&:active {
			.highlight-scale(none);
			.highlight-shadow(none);
		}
		&.selected {
			.highlight-invert;
		}
	}
}

.recognize-molecule {
	.recognize-wrapper {
		position: relative;
		width: 100%;
		height: 25em;
		vertical-align: middle;
		.picture {
			height: 25em;
			width: 21em;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			img {
				max-height: 100%;
				max-width: 100%;
			}
		}
		.output {
			height: 25em;
			width: 21em;
			display: table-cell;
			vertical-align: middle;
			max-height: 100%;
			.struct {
				margin-left: 10%;
				max-width: 90%;
				max-height: 20em;
			}
			.loader {
				margin: auto;
				display: block;
				border: 16px solid #f3f3f3;
				border-top: 16px solid #0000ff;
				border-radius: 50%;
				width: 5em;
				height: 5em;
				animation: spin 3s linear infinite;
			}
			@keyframes spin {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}
	}
	.block {
		display: block !important;
	}
	footer {
		input[type=file] {
			position: absolute;
			width: 89px;
			margin: -4px 0 0 -12px;
			padding: 0 0 7px 0;
			opacity: 0;
		}

		.choose-wrapper {
			display: inline-block;
			float: left;
			span {
				margin-top: 6px;
				margin-left: 5px;
				position: absolute;
				max-height: 1.2em;
				max-width: 9em;
				overflow: hidden;
			}
		}
	}
}

.check-struct {
	>div {
		//min-width: 40em;
		height: 30em;
	}
	.tabs {
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		li {
			float: left;
			border-radius: 10px 10px 0 0;
			border: 0.5px solid #ddd;
			padding:  15px 0px;
			// Make the list-items overlay the bottom border
			margin-bottom: -1px;
			// Actual tabs (as links)
			a {
				line-height: 1;
				border: 1px solid transparent;
				border-radius: 10px 10px 0 0;
				padding:  15px 35px;
				&:hover {
					border-color: black;
				}
			}
			// Active state, and its :hover to override normal :hover
			&.active > a {
			 	&,
			 	&:hover,
			 	&:focus {
			 		color: white;
			 		background-color: #ddd;
			 		cursor: default;

			 	}
			}
		}
	}
	input[type="checkbox"]{
		margin: 6% auto;
	}

}

.calc-val {
	label {
		display: block;
		text-align: left;
		margin: 2% auto;
		margin-left: 2%
	}
	output{
		display: block;
		margin-left: 10em;
		margin-top: -6%;
		text-align: center;;
		border-radius: 2px;
		border: 1px solid #ddd;
		height: 20px;
		width: 200px;
	}
}

.open-settings {
	width: 42em;
	height: auto;

	.open {
		&:extend(button all);
		float: left;
	}

	.save {
		&:extend(button all);
		cursor: default;
	}

	.accordion-wrapper {
		margin: 0;
		.accordion-menu {
			input.menu[type=checkbox] {
				position: absolute;
				opacity: 0;
			}
			label, a {
				background-color: #eee;
				display: block;
				padding: 5px;
				box-shadow: inset 0 -1px #555960;
				font-size: 1.2rem;
			}
			.accordion {
				display: block;
				font-size: 16px;
				ul {
					border-collapse: collapse;
					width: 100%;
					li {
						border: 1px solid #eee;
						div {
							padding-left: 5px;
							display: inline-block;
							margin: 0;
							width: 49%;
							select {
								border: 0;
								margin: 0;
								padding: 0;
								width: 100%;
							}
						}
					}
				}
			}
			.none {
				display: none;
			}
		}
		.accordion-dropdown {
			margin: 0 10px;
			font-weight: bold;
		}
		.current {
			display: block;
			padding: 5px;
			font-size: 16px;
		}
	}
}

.open {
	// constrain dialog resizebility
	// max-width: 50%;
	// max-height: 70%;
	label {
		display: block;
	}
	textarea {
		width: 32em;
		height: 23em;
		overflow: auto;
		white-space: pre;
		//make it resizable
		resize: both;
	}
	.open {
		&:extend(button all);
		float: left;
	}
}

.save {
	label {
		display: block;
		text-align: right;
	}
	select {
		width: 16em;
	}
	textarea {
		width: 32em;
		height: 23em;
		overflow: auto;
		white-space: pre;
		cursor: text;
		resize: both;
	}
	.save {
		&:extend(button all);
		cursor: default;
		float: left;
	}
}

.help {
	overflow: auto;
	min-height: 500px;
	min-width: 750px;
	border: 0;
}
