@font-face {
	font-family: 'ketcher';
	src: url('@{static-path}/ketcher.eot');
	src: url('@{static-path}/ketcher.eot#iefix') format('embedded-opentype'),
	     url('@{static-path}/ketcher.woff') format('woff'),
	     url('@{static-path}/ketcher.ttf') format('truetype'),
	     url('@{static-path}/ketcher.svg#ketcher') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'ketcher';
		src: url('@{static-path}/ketcher.svg#ketcher') format('svg');
	}
}
*/

////////// Icon codes //////////

@icon-arrange: '\e800'; // ''
@icon-nopic: '\e801'; // ''
@icon-strip: '\e802'; // ''
@icon-test: '\e803'; // ''
@icon-arom: '\e804'; // ''
@icon-bond-any: '\e805'; // ''
@icon-bond-aromatic: '\e806'; // ''
@icon-bond-crossed: '\e807'; // ''
@icon-bond-double: '\e808'; // ''
@icon-bond-doublearomatic: '\e809'; // ''
@icon-bond-down: '\e80a'; // ''
@icon-bond-single: '\e80b'; // ''
@icon-bond-singlearomatic: '\e80c'; // ''
@icon-bond-singledouble: '\e80d'; // ''
@icon-bond-triple: '\e80e'; // ''
@icon-bond-up: '\e80f'; // ''
@icon-bond-updown: '\e810'; // ''
@icon-chain: '\e811'; // ''
@icon-charge-minus: '\e812'; // ''
@icon-charge-plus: '\e813'; // ''
@icon-cleanup: '\e814'; // ''
@icon-copy: '\e815'; // ''
@icon-cut: '\e816'; // ''
@icon-dearom: '\e817'; // ''
@icon-dropdown: '\e818'; // ''
@icon-erase: '\e819'; // ''
@icon-generic-groups: '\e81a'; // ''
@icon-info: '\e81b'; // ''
@icon-logo: '\e81c'; // ''
@icon-new: '\e81d'; // ''
@icon-open: '\e81e'; // ''
@icon-paste: '\e81f'; // ''
@icon-period-table: '\e820'; // ''
@icon-reaction-arrow: '\e821'; // ''
@icon-reaction-automap: '\e822'; // ''
@icon-reaction-map: '\e823'; // ''
@icon-reaction-plus: '\e824'; // ''
@icon-reaction-unmap: '\e825'; // ''
@icon-redo: '\e826'; // ''
@icon-rgroup-attpoints: '\e827'; // ''
@icon-rgroup-fragment: '\e828'; // ''
@icon-rgroup-label-A: '\e829'; // ''
@icon-rgroup-label-B: '\e82a'; // ''
@icon-save: '\e82b'; // ''
@icon-select-fragment: '\e82c'; // ''
@icon-select-lasso: '\e82d'; // ''
@icon-select-rectangle: '\e82e'; // ''
@icon-settings: '\e82f'; // ''
@icon-sgroup: '\e830'; // ''
@icon-template-0: '\e831'; // ''
@icon-template-1: '\e832'; // ''
@icon-template-2: '\e833'; // ''
@icon-template-3: '\e834'; // ''
@icon-template-4: '\e835'; // ''
@icon-template-5: '\e836'; // ''
@icon-template-6: '\e837'; // ''
@icon-template-7: '\e838'; // ''
@icon-template-custom: '\e839'; // ''
@icon-transform-flip-h: '\e83a'; // ''
@icon-transform-flip-v: '\e83b'; // ''
@icon-transform-rotate: '\e83c'; // ''
@icon-undo: '\e83d'; // ''
@icon-zoom-in: '\e83e'; // ''
@icon-zoom-out: '\e83f'; // ''
