@import 'params';
@import 'reset';
@import 'icons';
@import 'mixins';
@import 'dialogs';

html {
	height: 100%;
	width: 100%;
	background-color: white;
}

body {
	.min-height(100%);
	position: relative;
}

main {
	position: absolute;
	top: @canvas-padding;
	left: @canvas-padding;
	right: @canvas-padding;
	bottom: @canvas-padding;
	border: @border-color 1px solid;
	.border-radius(5px);
	overflow: auto;
	// svg {
	// 	display: block;
	// }
}

#mainmenu { .toolbar-pos(top); }
#elements { .toolbar-pos(right); }
#template { .toolbar-pos(bottom); }
#toolbox { .toolbar-pos(left); }

#mainmenu {
	menu {
		padding: 0 20px 0 15px;
		border-right: 1px solid @border-color;
		&:first-child {
			padding-left: 0;
		}
	}
}

#toolbox {
	menu {
		height: @toolbar-size;
		width: @toolbar-size;
		overflow: hidden;
	}
}

#meta {
	position: absolute;
	right: 0;
	padding: 0 !important;
	border: 0 !important;
}

#period-table {
	position: absolute;
	bottom: 0;
}

#elements, #toolbox {
	li {
		margin-bottom: 4px;  // ? TODO: shadow-solution
	}
}

[role='toolbar'] {
	li, menu {
		list-style: none;
		margin: 0;
		padding: 0;
		.inline-block;
	}

	button {
		.control;
		margin: 0;
		border: 0;
		padding: 0;
		width: @toolbar-size;
		height: @toolbar-size;
		//line-height: @toolbar-size;
		text-align: center;

		overflow: hidden;
		display: block;
		font: ~"0/0" a;
		//.text-hide(transparent);

		&:before, &:after {
			display: inline-block;
			vertical-align: middle;
			font-size: @icon-size;
			padding: @icon-padding;
			font-family: 'ketcher';
		}
		&:after {
			position: absolute;
			left: 0;
		}
	}
}

#atom button {
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 19px;
}

select {
	.control;
	//.inline-block;
	display: block;

	height: 34px;
	padding: 5px 2px 5px 4px;
	font-size: 14px;
	line-height: 20 / 14;

	border: 1px solid @border-color;
	//.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
}

// NOTE: we don't process &:focus state as it does not work
//       well with &.selected (requires additional JS)

#elements button {
	&:hover {
		outline: 1px dotted @active-color;
	}
}

#atom button {
	&:hover {
		outline: 0;
		.circle-highlight;
	}
	&.selected, &:active {
		.circle-highlight(@inset: inset);
	}
}

#template button {
	&:hover, &.selected {
		.symbol-highlight;
	}
}

#mainmenu button {
	&:not([disabled]) {
		&:hover {
			.shadow-highlight(black);
			.scale-highlight;
		}
		&:active {
			.shadow-highlight(black, inset);
		}
	}
}

select, #toolbox button {
	&:hover {
		.shadow-highlight(black);
	}
	&.selected {
		.invert-highlight;
	}
}

.monochrome-icons(arom bond-any bond-aromatic bond-crossed bond-double
				  bond-doublearomatic bond-down bond-single
				  bond-singlearomatic bond-singledouble bond-triple bond-up
				  bond-updown chain charge-minus charge-plus cleanup copy
				  cut dearom dropdown erase generic-groups info new open
				  paste period-table reaction-arrow reaction-automap
				  reaction-map reaction-plus reaction-unmap redo
				  rgroup-attpoints rgroup-fragment save select-fragment
				  select-lasso select-rectangle settings sgroup template-0
				  template-1 template-2 template-3 template-4 template-5
				  template-6 template-7 template-custom transform-flip-h
				  transform-flip-v transform-rotate undo zoom-in zoom-out);

.twocolor-icons(rgroup-label, #739FC6);

.sketching-atom-icons(h-like n-like o-like s-like p-like f-like cl-like
					  br-like i-like);
