@import 'params';
@import 'reset';
@import 'icons';
@import 'mixins';
@import 'elements';

html {
	height: 100%;
	width: 100%;
	background-color: white;
}

body {
	.min-height(100%);
	position: relative;
}

@icon-size: 26px;
@icon-padding: 4px;
@app-gap: 3px;
@toolbar-gap: 5px;
@toolbar-size: @icon-size + 2 * @icon-padding; // + border?
@canvas-padding: @toolbar-size + @toolbar-gap + @app-gap;
@active-color: #66afe9;

main {
	position: absolute;
	top: @canvas-padding;
	left: @canvas-padding;
	right: @canvas-padding;
	bottom: @canvas-padding;
	border: #ccc 1px solid;		// ? base radius
	.border-radius(5px);
	overflow: auto;

	// svg {
	// 	display: block;
	// }
}

#mainmenu {
	position: absolute;
	top: @app-gap;
	left: @canvas-padding;
	right: @canvas-padding;
	height: @toolbar-size;

	menu {
		padding: 0 20px 0 15px;
		border-right: 1px solid #ccc;
		&:first-child {
			padding-left: 0;
		}
	}
}

#toolbox {
	position: absolute;
	left: @app-gap;
	top: @canvas-padding;
	bottom: @canvas-padding;
	width: @toolbar-size;

	menu {
		height: @toolbar-size;
		width: @toolbar-size;
		overflow: hidden;
	}
}

#template {
	position: absolute;
	bottom: @app-gap;
	left: @canvas-padding;
	right: @canvas-padding;
	height: @toolbar-size;
}

#elements {
	position: absolute;
	right: @app-gap;
	top: @canvas-padding;
	bottom: @canvas-padding;
	width: @toolbar-size;
}

#meta {
	position: absolute;
	right: 0;
	padding: 0 !important;
	border: 0 !important;
}

#period-table {
	position: absolute;
	bottom: 0;
}

#elements, #toolbox {
	li {
		margin-bottom: 4px;  // ? TODO: shadow-solution
	}
}

[role='toolbar'] {
	li {
		list-style: none;
		margin: 0;
		padding: 0;
		.inline-block;
	}

	menu {
		.inline-block;
		margin: 0;
		padding: 0;
	}

	button {
		.control;
		margin: 0;
		width: @toolbar-size;
		height: @toolbar-size;
		//line-height: @toolbar-size;
		text-align: center;

		border: 0;
		overflow: hidden;
		display: block;
		font: ~"0/0" a;
		//.text-hide(transparent);

		&:before {
			display: inline-block;
			vertical-align: middle;
			font-size: @icon-size;
			padding: @icon-padding;
			font-family: 'ketcher';
		}

		&[disabled] {
			color: #baa;		// ? color-disabled
		}
	}
}


select {
	//.inline-block;
	display: block;
	//width: 100%;
	height: 34px;
	padding: 5px 2px 5px 4px;
	font-size: 14px;
	line-height: 20 / 14;

	border: 1px solid #ccc;
	.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	//.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
	.control;
}

.hover-scale() {
	.transition(transform, 0.1s, ease-out);
	&:not([disabled]):hover {
		.scale(1.2);
	}
}

.hover-shadow() {
	&:not([disabled]):hover {
		.box-shadow(0 0 4px 3px rgba(0, 0, 0, .1)); // ie?
	}
}

.active-shadow() {
	@color: @active-color;
	border-color: @color;
	outline: 0;
	.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{color}");
}

.control() {
	&.selected {
		background: #333;
		color: white;
	}

	color: #433;
	//color: #555;
	background-color: white; // ? war
	//border: 1px solid #ccc;
	.border-radius(4px);

	.hover-shadow;

	&:focus {
		.active-shadow;
	}
}

#atom button {
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 19px;
	&.selected {
		.border-radius(15px);
		.active-shadow;
		background: inherit;
	}
}

#template button:hover, #atom button:hover {
	// just for example
	text-shadow: 1px 1px 3px @active-color;
}

#mainmenu button {
	// just for example too
	.hover-scale;
}
