@static-path: '.';

@icon-size: 26px;
@icon-padding: 4px;
@app-gap: 3px;
@toolbar-gap: 5px;
@toolbar-size: @icon-size + 2 * @icon-padding; // + border?
@canvas-padding: @toolbar-size + @toolbar-gap + @app-gap;

@main-color: #433;
@active-color: #1a7090;
@border-color: #ccc;
@disabled-color: #baa;

// Standard (for sketching applications) atom colors

@atom-sketching-h-like-color: #000;
@atom-sketching-n-like-color: #304ff7;
@atom-sketching-o-like-color: #ff0d0d;
@atom-sketching-s-like-color: #c99a19;
@atom-sketching-p-like-color: #ff8000;
@atom-sketching-f-like-color: #78bc42;
@atom-sketching-cl-like-color: #1fd01f;
@atom-sketching-br-like-color: #a62929;
@atom-sketching-i-like-color: #940094;
