@static-path: '.';

@icon-size: 26px;
@button-size: 32px;
@button-grow: 4px;  // additional padding button may grow
@button-gap: 6px - 2*@button-grow;

@app-gap: 7px - @button-grow;
@toolbar-gap: 6px - @button-grow;

@toolbar-size: @button-size + 2 * @button-grow; // + border?
@canvas-padding: @toolbar-size + @toolbar-gap + @app-gap;

@main-color: #333;
@active-color: #1a7090;
@border-color: #ccc;
@disabled-color: #baa;

// Standard (for sketching applications) atom colors

@atom-sketching-h-like-color: #000;
@atom-sketching-n-like-color: #304ff7;
@atom-sketching-o-like-color: #ff0d0d;
@atom-sketching-s-like-color: #c99a19;
@atom-sketching-p-like-color: #ff8000;
@atom-sketching-f-like-color: #78bc42;
@atom-sketching-cl-like-color: #1fd01f;
@atom-sketching-br-like-color: #a62929;
@atom-sketching-i-like-color: #940094;
