@import '../../../../style/variables.less';

ul.contextMenu {
  color: @color-grey-6;
  padding: 4px;

  .contextMenu_item {
    margin: 0;
    padding: 3px 20px;
    
    &:hover {
      background: @color-gray;
    }
  }

  .contextMenu_divider {
    margin: 4px;
  }
}