<form role="dialog" id="about_dialog" style="display:none;">
	<header>About</header>
	<a href="http://ggasoftware.com/opensource/ketcher#overview" target="_blank">
		<img src="logo.jpg"/>
	</a>
	<dl>
		<dt>
			<a href="http://ggasoftware.com/opensource/ketcher#overview" target="_blank">Ketcher</a>
		</dt>
		<dd>
			version <var>{{pkg.version}}</var> {{#unless git.tag}}(rev: <var>{{git.rev}}</var>)</em>{{/unless}}
		</dd>
		{{#if build-number}}
		<dd>
			build #<var>{{build-number}}</var> at <time>{{build-date}}</time>
		</dd>
		{{/if}}
		<dt>
			<a href="http://ggasoftware.com" target="_blank">GGA Software Services</a>
		</dt>
		<dd>
			<a href="http://ggasoftware.com/opensource/ketcher#feedback" target="_blank">Feedback</a>
		</dd>
	</dl>
	<footer>
		<input type="button" onclick="ui.hideDialog('about_dialog')" value="OK">
	</footer>
</form>
