<form role="dialog" id="about_dialog" style="display:none;">
	<header>About</header>
	<a href="http://lifescience.opensource.epam.com/ketcher/" target="_blank">
		<img src="logo.jpg">
	</a>
	<dl>
		<dt>
			<a href="http://lifescience.opensource.epam.com/ketcher/#overview" target="_blank">Ketcher</a>
		</dt>
		<dd>
			version <var>{{pkg.version}}</var>
		</dd>
		{{#if build-number}}
		<dd>
			build #<var>{{build-number}}</var> at <time>{{build-date}}</time>
		</dd>
		{{/if}}
		<dt>
			<a href="http://lifescience.opensource.epam.com/" target="_blank">EPAM Life Sciences</a>
		</dt>
		<dd>
			<a href="http://lifescience.opensource.epam.com/ketcher/#feedback" target="_blank">Feedback</a>
		</dd>
	</dl>
	<footer>
		<input type="button" onclick="ui.hideDialog('about_dialog')" value="Close">
	</footer>
</form>
