<form role="dialog" id="atom_properties" style="display:none;">
	<header>Atom Properties</header>
	<fieldset class="main">
		<label>Label:
			<input id="atom_label" type="text" maxlength="2">
		</label>
		<label>Number:
			<input id="atom_number" type="text" readonly="readonly" maxlength="3">
		</label>
		<label>Charge:
			<input id="atom_charge" type="text" maxlength="3">
		</label>
		<label>Valency:
			<select id="atom_valence">
				<option value=""></option>
				<option value="0">0</option>
				<option value="1">I</option>
				<option value="2">II</option>
				<option value="3">III</option>
				<option value="4">IV</option>
				<option value="5">V</option>
				<option value="6">VI</option>
				<option value="7">VII</option>
				<option value="8">VIII</option>
			</select>
		</label>
		<label>Isotope:
			<input id="atom_isotope" type="text" maxlength="3">
		</label>
		<label>Radical:
			<select id="atom_radical">
				<option value="0"></option>
				<option value="2">Monoradical</option>
				<option value="1">Diradical (singlet)</option>
				<option value="3">Diradical (triplet)</option>
			</select>
		</label>
	</fieldset>
	<fieldset class="query">
		<legend>Query specific</legend>
		<label>Ring bond count:
			<select id="atom_ringcount">
				<option value="0"></option>
				<option value="-2">As drawn</option>
				<option value="-1">0</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
		</label>
		<label>H count:
			<select id="atom_hcount">
				<option value="0"></option>
				<option value="1">0</option>
				<option value="2">1</option>
				<option value="3">2</option>
				<option value="4">3</option>
				<option value="5">4</option>
			</select>
		</label>
		<label>Substitution count:
			<select id="atom_substitution">
				<option value="0"></option>
				<option value="-2">As drawn</option>
				<option value="-1">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
			</select>
		</label>
		<label>Unsaturation:
			<select id="atom_unsaturation">
				<option value="0"></option>
				<option value="1">Unsaturated</option>
			</select>
		</label>
	</fieldset>
	<fieldset class="reaction">
		<legend>Reaction flags</legend>
		<label>Inversion:
			<select id="atom_inversion">
				<option value="0"></option>
				<option value="1">Inverts</option>
				<option value="2">Retains</option>
			</select>
		</label>
		<label>Exact:
			<select id="atom_exactchange">
				<option value="0"></option>
				<option value="1">Exact change</option>
			</select>
		</label>
	</fieldset>
	<footer>
		<input id="atom_prop_cancel" type="button" value="Cancel">
		<input id="atom_prop_ok" type="button" value="OK">
	</footer>
</form>
