<form role="dialog" id="atom_properties" style="display:none;">
	<header>Atom Properties</header>
	<fieldset class="main">
		<label>Label:
			<input name="label" type="text" maxlength="2">
		</label>
		<label>Number:
			<input class="number" type="text" readonly="readonly" maxlength="3">
		</label>
		<label>Charge:
			<input name="charge" type="text" maxlength="3">
		</label>
		<label>Valency:
			<select name="explicitValence">
				<option value=""></option>
				<option value="0">0</option>
				<option value="1">I</option>
				<option value="2">II</option>
				<option value="3">III</option>
				<option value="4">IV</option>
				<option value="5">V</option>
				<option value="6">VI</option>
				<option value="7">VII</option>
				<option value="8">VIII</option>
			</select>
		</label>
		<label>Isotope:
			<input name="isotope" type="text" maxlength="3">
		</label>
		<label>Radical:
			<select name="radical">
				<option value="0"></option>
				<option value="2">Monoradical</option>
				<option value="1">Diradical (singlet)</option>
				<option value="3">Diradical (triplet)</option>
			</select>
		</label>
	</fieldset>
	<fieldset class="query">
		<legend>Query specific</legend>
		<label>Ring bond count:
			<select name="ringBondCount">
				<option value="0"></option>
				<option value="-2">As drawn</option>
				<option value="-1">0</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
		</label>
		<label>H count:
			<select name="hCount">
				<option value="0"></option>
				<option value="1">0</option>
				<option value="2">1</option>
				<option value="3">2</option>
				<option value="4">3</option>
				<option value="5">4</option>
			</select>
		</label>
		<label>Substitution count:
			<select name="substitutionCount">
				<option value="0"></option>
				<option value="-2">As drawn</option>
				<option value="-1">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
			</select>
		</label>
		<label>Unsaturated
			<input type="checkbox" name="unsaturatedAtom">
		</label>
	</fieldset>
	<fieldset class="reaction">
		<legend>Reaction flags</legend>
		<label>Inversion:
			<select name="invRet">
				<option value="0"></option>
				<option value="1">Inverts</option>
				<option value="2">Retains</option>
			</select>
		</label>
		<label>Exact change
			<input type="checkbox" name="exactChangeFlag">
		</label>
	</fieldset>
	<footer>
		<input type="button" value="Cancel">
		<input type="button" value="OK">
	</footer>
</form>
