<script type="text/x-template" id="attachment-points-tmpl">
	<header>Attachment Points</header>
	<label>
		<input type="checkbox" name="primary">
		Primary attachment point
	</label>
	<label>
		<input type="checkbox" name="secondary">
		Secondary attachment point
	</label>
	<footer>
		<input type="button" value="Cancel">
		<input type="button" value="OK">
	</footer>
</script>
