<form role="dialog" id="atom_attpoints" style="display:none;">
	<header>Attachment Points</header>
	<label>
		<input type="checkbox" name="primary">
		Primary attachment point
	</label>
	<label>
		<input type="checkbox" name="secondary">
		Secondary attachment point
	</label>
	<footer>
		<input type="button" value="Cancel">
		<input type="button" value="OK">
	</footer>
</form>
