<form role="dialog" id="atom_attpoints" style="display:none;">
	<header>Attachment Points</header>
	<label>
		<input type="checkbox" id="atom_ap1">
		Primary attachment point
	</label>
	<label>
		<input type="checkbox" id="atom_ap2">
		Secondary attachment point
	</label>
	<footer>
		<input id="atom_attpoints_cancel" type="button" value="Cancel">
		<input id="atom_attpoints_ok" type="button" value="OK">
	</footer>
</form>
