{{#unless no-reactions}}
	<script type="text/x-template" id="automap-tmpl">
		<header>Reaction Auto-Mapping</header>
		<label>Mode:
			<select name="mode">
				<option value="discard">Discard</option>
				<option value="keep">Keep</option>
				<option value="alter">Alter</option>
				<option value="clear">Clear</option>
			</select>
		</label>
		<footer>
			<input type="button" value="Cancel">
			<input type="button" value="OK">
		</footer>
	</script>
{{/unless}}
