{{#unless no-generics}}
<form role="dialog" id="generics-table" style="display:none;">
	<header>
		Generic Groups
	</header>
	<fieldset class="atom">
		<legend>Atom Generics</legend>
		<fieldset>
			<button>A</button>
			<button>AH</button>
			<legend>any atom</legend>
		</fieldset>
		<fieldset>
			<button>Q</button>
			<button>QH</button>
			<legend>except C or H</legend>
		</fieldset>
		<fieldset>
			<button>M</button>
			<button>MH</button>
			<legend>any metal</legend>
		</fieldset>
		<fieldset>
			<button>X</button>
			<button>XH</button>
			<legend>any halogen</legend>
		</fieldset>
	</fieldset>
	<fieldset class="group">
		<legend>Group Generics</legend>
		<fieldset class="not">
			<button>G</button>
			<button>GH</button>
			<button>G*</button>
			<button>GH*</button>
		</fieldset>
		<fieldset class="acyclic">
			<legend>Acyclic</legend>
			<fieldset class="not">
				<button>ACY</button>
				<button>ACH</button>
			</fieldset>
			<fieldset class="carbo">
				<legend>Carbo</legend>
				<fieldset>
					<button>ABC</button>
					<button>ABH</button>
				</fieldset>
				<fieldset>
					<button>AYL</button>
					<button>AYH</button>
					<legend>alkynyl</legend>
				</fieldset>
				<fieldset>
					<button>ALK</button>
					<button>ALH</button>
					<legend>alkyl</legend>
				</fieldset>
				<fieldset>
					<button>AEL</button>
					<button>AEH</button>
					<legend>alkenyl</legend>
				</fieldset>
			</fieldset>
			<fieldset class="hetero">
				<legend>Hetero</legend>
				<fieldset>
					<button>AHC</button>
					<button>AHH</button>
				</fieldset>
				<fieldset>
					<button>AOX</button>
					<button>AOH</button>
					<legend>alkoxy</legend>
				</fieldset>
			</fieldset>
		</fieldset>
		<fieldset class="cyclic">
			<legend>Cyclic</legend>
			<fieldset class="not">
				<button>CYC</button>
				<button>CYH</button>
			</fieldset>
			<fieldset class="not">
				<button>CXX</button>
				<button>CXH</button>
				<legend>no carbon</legend>
			</fieldset>
			<fieldset class="carbo">
				<legend>Carbo</legend>
				<fieldset>
					<button>CBC</button>
					<button>CBH</button>
				</fieldset>
				<fieldset>
					<button>ARY</button>
					<button>ARH</button>
					<legend>aryl</legend>
				</fieldset>
				<fieldset>
					<button>CAL</button>
					<button>CAH</button>
					<legend>cycloalkyl</legend>
				</fieldset>
				<fieldset>
					<button>CEL</button>
					<button>CEH</button>
					<legend>cycloalkenyl</legend>
				</fieldset>
			</fieldset>
			<fieldset class="hetero">
				<legend>Hetero</legend>
				<fieldset>
					<button>CHC</button>
					<button>CHH</button>
				</fieldset>
				<fieldset>
					<button>HAR</button>
					<button>HAH</button>
					<legend>hetero aryl</legend>
				</fieldset>
			</fieldset>
		</fieldset>
	</fieldset>
	<footer>
		<input type="button" value="Cancel">
		<input type="button" value="OK">
	</footer>
</form>
{{/unless}}
