{{#unless no-generics}}
<div class="dialogWindow reagenericsTableDialog" id="reagenerics_table" style="display:none;">
	<div>
		<div>
			Reaxys Generics
		</div>
		<div style="height:0.5em"></div>
		<div id="reagenerics_table_area"></div>
		<div style="margin-top:0.5em">
			<input id="reagenerics_table_cancel" type="button" value="Cancel">
			<input id="reagenerics_table_ok" type="button" value="OK" disabled>
		</div>
	</div>
</div>
{{/unless}}
