<form role="dialog" id="open-file" style="display:none;">
	<header>Open Structure</header>
	<textarea></textarea>
	<label>
		<input type="checkbox" name="fragment">
		Load as a fragment and copy to the Clipboard
	</label>
	<footer>
		<label class="open">
			Open From File…
			<input accept="chemical/x-mdl-molfile,chemical/x-mdl-rxnfile,chemical/x-cml,chemical/x-daylight-smiles,chemical/x-inchi,.mol,.rxn,.cml,.smi,.smiles,.inchi" type="file">
		</label>
		<input type="button" value="Cancel">
		<input type="button" value="OK">
	</footer>
</form>
