<form role="dialog" id="elem-table" style="display:none;">
	<header>Periodic table</header>
	<table summary="Periodic table of the chemical elements">
		<tr>
			<th></th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
			<th>9</th>
			<th>10</th>
			<th>11</th>
			<th>12</th>
			<th>13</th>
			<th>14</th>
			<th>15</th>
			<th>16</th>
			<th>17</th>
			<th>18</th>
		</tr>
		<tr>
			<th>
				1
			</th>
			<td>
				<div title="Hydrogen" class="atom-h diatomic gas" data-number="1">H</div>
			</td>
			<td colspan="16"></td>
			<td>
				<div title="Helium" class="atom-he noble gas" data-number="2">He</div>
			</td>
		</tr>
		<tr>
			<th>2</th>
			<td>
				<div title="Lithium" class="atom-li alkali metal" data-number="3">Li</div>
			</td>
			<td>
				<div title="Beryllium" class="atom-be alkaline-earth metal" data-number="4">Be</div>
			</td>
			<td colspan="10"></td>
			<td>
				<div title="Boron" class="atom-b metalloid" data-number="5">B</div>
			</td>
			<td>
				<div title="Carbon" class="atom-c polyatomic" data-number="6">C</div>
			</td>
			<td>
				<div title="Nitrogen" class="atom-n diatomic gas" data-number="7">N</div>
			</td>
			<td>
				<div title="Oxygen" class="atom-o diatomic gas" data-number="8">O</div>
			</td>
			<td>
				<div title="Fluorine" class="atom-f diatomic gas" data-number="9">F</div>
			</td>
			<td>
				<div title="Neon" class="atom-ne noble gas" data-number="10">Ne</div>
			</td>
		</tr>
		<tr>
			<th>3</th>
			<td>
				<div title="Sodium" class="atom-na alkali metal" data-number="11">Na</div>
			</td>
			<td>
				<div title="Magnesium" class="atom-mg alkaline-earth metal" data-number="12">Mg</div>
			</td>
			<td colspan="10"></td>
			<td>
				<div title="Aluminium" class="atom-al post-transition metal" data-number="13">Al</div>
			</td>
			<td>
				<div title="Silicon" class="atom-si metalloid" data-number="14">Si</div>
			</td>
			<td>
				<div title="Phosphorus" class="atom-p polyatomic" data-number="15">P</div>
			</td>
			<td>
				<div title="Sulfur" class="atom-s polyatomic" data-number="16">S</div>
			</td>
			<td>
				<div title="Chlorine" class="atom-cl diatomic gas" data-number="17">Cl</div>
			</td>
			<td>
				<div title="Argon" class="atom-ar noble gas" data-number="18">Ar</div>
			</td>
		</tr>
		<tr>
			<th>4</th>
			<td>
				<div title="Potassium" class="atom-k alkali metal" data-number="19">K</div>
			</td>
			<td>
				<div title="Calcium" class="atom-ca alkaline-earth metal" data-number="20">Ca</div>
			</td>
			<td>
				<div title="Scandium" class="atom-sc transition metal" data-number="21">Sc</div>
			</td>
			<td>
				<div title="Titanium" class="atom-ti transition metal" data-number="22">Ti</div>
			</td>
			<td>
				<div title="Vanadium" class="atom-v transition metal" data-number="23">V</div>
			</td>
			<td>
				<div title="Chromium" class="atom-cr transition metal" data-number="24">Cr</div>
			</td>
			<td>
				<div title="Manganese" class="atom-mn transition metal" data-number="25">Mn</div>
			</td>
			<td>
				<div title="Iron" class="atom-fe transition metal" data-number="26">Fe</div>
			</td>
			<td>
				<div title="Cobalt" class="atom-co transition metal" data-number="27">Co</div>
			</td>
			<td>
				<div title="Nickel" class="atom-ni transition metal" data-number="28">Ni</div>
			</td>
			<td>
				<div title="Copper" class="atom-cu transition metal" data-number="29">Cu</div>
			</td>
			<td>
				<div title="Zinc" class="atom-zn transition metal" data-number="30">Zn</div>
			</td>
			<td>
				<div title="Gallium" class="atom-ga post-transition metal" data-number="31">Ga</div>
			</td>
			<td>
				<div title="Germanium" class="atom-ge metalloid" data-number="32">Ge</div>
			</td>
			<td>
				<div title="Arsenic" class="atom-as metalloid" data-number="33">As</div>
			</td>
			<td>
				<div title="Selenium" class="atom-se polyatomic" data-number="34">Se</div>
			</td>
			<td>
				<div title="Bromine" class="atom-br diatomic liquid" data-number="35">Br</div>
			</td>
			<td>
				<div title="Krypton" class="atom-kr noble gas" data-number="36">Kr</div>
			</td>
		</tr>
		<tr>
			<th>5</th>
			<td>
				<div title="Rubidium" class="atom-rb alkali metal" data-number="37">Rb</div>
			</td>
			<td>
				<div title="Strontium" class="atom-sr alkaline-earth metal" data-number="38">Sr</div>
			</td>
			<td>
				<div title="Yttrium" class="atom-y transition metal" data-number="39">Y</div>
			</td>
			<td>
				<div title="Zirconium" class="atom-zr transition metal" data-number="40">Zr</div>
			</td>
			<td>
				<div title="Niobium" class="atom-nb transition metal" data-number="41">Nb</div>
			</td>
			<td>
				<div title="Molybdenum" class="atom-mo transition metal" data-number="42">Mo</div>
			</td>
			<td>
				<div title="Technetium" class="atom-tc transition metal from-decay" data-number="43">Tc</div>
			</td>
			<td>
				<div title="Ruthenium" class="atom-ru transition metal" data-number="44">Ru</div>
			</td>
			<td>
				<div title="Rhodium" class="atom-rh transition metal" data-number="45">Rh</div>
			</td>
			<td>
				<div title="Palladium" class="atom-pd transition metal" data-number="46">Pd</div>
			</td>
			<td>
				<div title="Silver" class="atom-ag transition metal" data-number="47">Ag</div>
			</td>
			<td>
				<div title="Cadmium" class="atom-cd transition metal" data-number="48">Cd</div>
			</td>
			<td>
				<div title="Indium" class="atom-in post-transition metal" data-number="49">In</div>
			</td>
			<td>
				<div title="Tin" class="atom-sn post-transition metal" data-number="50">Sn</div>
			</td>
			<td>
				<div title="Antimony" class="atom-sb metalloid" data-number="51">Sb</div>
			</td>
			<td>
				<div title="Tellurium" class="atom-te metalloid" data-number="52">Te</div>
			</td>
			<td>
				<div title="Iodine" class="atom-i diatomic" data-number="53">I</div>
			</td>
			<td>
				<div title="Xenon" class="atom-xe noble gas" data-number="54">Xe</div>
			</td>
		</tr>
		<tr>
			<th>6</th>
			<td>
				<div title="Caesium" class="atom-cs alkali metal" data-number="55">Cs</div>
			</td>
			<td>
				<div title="Barium" class="atom-ba alkaline-earth metal" data-number="56">Ba</div>
			</td>
			<td class="ref">*</td>
			<td>
				<div title="Hafnium" class="atom-hf transition metal" data-number="72">Hf</div>
			</td>
			<td>
				<div title="Tantalum" class="atom-ta transition metal" data-number="73">Ta</div>
			</td>
			<td>
				<div title="Tungsten" class="atom-w transition metal" data-number="74">W</div>
			</td>
			<td>
				<div title="Rhenium" class="atom-re transition metal" data-number="75">Re</div>
			</td>
			<td>
				<div title="Osmium" class="atom-os transition metal" data-number="76">Os</div>
			</td>
			<td>
				<div title="Iridium" class="atom-ir transition metal" data-number="77">Ir</div>
			</td>
			<td>
				<div title="Platinum" class="atom-pt transition metal" data-number="78">Pt</div>
			</td>
			<td>
				<div title="Gold" class="atom-au transition metal" data-number="79">Au</div>
			</td>
			<td>
				<div title="Mercury" class="atom-hg transition metal liquid" data-number="80">Hg</div>
			</td>
			<td>
				<div title="Thallium" class="atom-tl post-transition metal" data-number="81">Tl</div>
			</td>
			<td>
				<div title="Lead" class="atom-pb post-transition metal" data-number="82">Pb</div>
			</td>
			<td>
				<div title="Bismuth" class="atom-bi post-transition metal" data-number="83">Bi</div>
			</td>
			<td>
				<div title="Polonium" class="atom-po post-transition metal from-decay" data-number="84">Po</div>
			</td>
			<td>
				<div title="Astatine" class="atom-at metalloid from-decay" data-number="85">At</div>
			</td>
			<td>
				<div title="Radon" class="atom-rn noble gas from-decay" data-number="86">Rn</div>
			</td>
		</tr>
		<tr>
			<th>7</th>
			<td>
				<div title="Francium" class="atom-fr alkali metal from-decay" data-number="87">Fr</div>
			</td>
			<td>
				<div title="Radium" class="atom-ra alkaline-earth metal from-decay" data-number="88">Ra</div>
			</td>
			<td class="ref">**</td>
			<td>
				<div title="Rutherfordium" class="atom-rf transition metal synthetic unknown-phase" data-number="104">Rf</div>
			</td>
			<td>
				<div title="Dubnium" class="atom-db transition metal synthetic unknown-phase" data-number="105">Db</div>
			</td>
			<td>
				<div title="Seaborgium" class="atom-sg transition metal synthetic unknown-phase" data-number="106">Sg</div>
			</td>
			<td>
				<div title="Bohrium" class="atom-bh transition metal synthetic unknown-phase" data-number="107">Bh</div>
			</td>
			<td>
				<div title="Hassium" class="atom-hs transition metal synthetic unknown-phase" data-number="108">Hs</div>
			</td>
			<td>
				<div title="Meitnerium" class="atom-mt synthetic unknown-properties" data-number="109">Mt</div>
			</td>
			<td>
				<div title="Darmstadtium" class="atom-ds synthetic unknown-properties" data-number="110">Ds</div>
			</td>
			<td>
				<div title="Roentgenium" class="atom-rg synthetic unknown-properties" data-number="111">Rg</div>
			</td>
			<td>
				<div title="Copernicium" class="atom-cn transition metal synthetic unknown-phase" data-number="112">Cn</div>
			</td>
			<td>
				<div title="Ununtrium" class="atom-uut synthetic unknown-properties" data-number="113">Uut</div>
			</td>
			<td>
				<div title="Flerovium" class="atom-fl synthetic unknown-properties" data-number="114">Fl</div>
			</td>
			<td>
				<div title="Ununpentium" class="atom-uup synthetic unknown-properties" data-number="115">Uup</div>
			</td>
			<td>
				<div title="Livermorium" class="atom-lv synthetic unknown-properties" data-number="116">Lv</div>
			</td>
			<td>
				<div title="Ununseptium" class="atom-uus synthetic unknown-properties" data-number="117">Uus</div>
			</td>
			<td>
				<div title="Ununoctium" class="atom-uuo synthetic unknown-properties" data-number="118">Uuo</div>
			</td>
		</tr>
		<tr class="ref">
			<th colspan="3">*</th>
			<td>
				<div title="Lanthanum" class="atom-la lanthanide" data-number="57">La</div>
			</td>
			<td>
				<div title="Cerium" class="atom-ce lanthanide" data-number="58">Ce</div>
			</td>
			<td>
				<div title="Praseodymium" class="atom-pr lanthanide" data-number="59">Pr</div>
			</td>
			<td>
				<div title="Neodymium" class="atom-nd lanthanide" data-number="60">Nd</div>
			</td>
			<td>
				<div title="Promethium" class="atom-pm lanthanide from-decay" data-number="61">Pm</div>
			</td>
			<td>
				<div title="Samarium" class="atom-sm lanthanide" data-number="62">Sm</div>
			</td>
			<td>
				<div title="Europium" class="atom-eu lanthanide" data-number="63">Eu</div>
			</td>
			<td>
				<div title="Gadolinium" class="atom-gd lanthanide" data-number="64">Gd</div>
			</td>
			<td>
				<div title="Terbium" class="atom-tb lanthanide" data-number="65">Tb</div>
			</td>
			<td>
				<div title="Dysprosium" class="atom-dy lanthanide" data-number="66">Dy</div>
			</td>
			<td>
				<div title="Holmium" class="atom-ho lanthanide" data-number="67">Ho</div>
			</td>
			<td>
				<div title="Erbium" class="atom-er lanthanide" data-number="68">Er</div>
			</td>
			<td>
				<div title="Thulium" class="atom-tm lanthanide" data-number="69">Tm</div>
			</td>
			<td>
				<div title="Ytterbium" class="atom-yb lanthanide" data-number="70">Yb</div>
			</td>
			<td>
				<div title="Lutetium" class="atom-lu lanthanide" data-number="71">Lu</div>
			</td>
			<td></td>
		</tr>
		<tr class="ref">
			<th colspan="3">**</th>
			<td>
				<div title="Actinium" class="atom-ac actinide from-decay" data-number="89">Ac</div>
			</td>
			<td>
				<div title="Thorium" class="atom-th actinide" data-number="90">Th</div>
			</td>
			<td>
				<div title="Protactinium" class="atom-pa actinide from-decay" data-number="91">Pa</div>
			</td>
			<td>
				<div title="Uranium" class="atom-u actinide" data-number="92">U</div>
			</td>
			<td>
				<div title="Neptunium" class="atom-np actinide from-decay" data-number="93">Np</div>
			</td>
			<td>
				<div title="Plutonium" class="atom-pu actinide" data-number="94">Pu</div>
			</td>
			<td>
				<div title="Americium" class="atom-am actinide from-decay" data-number="95">Am</div>
			</td>
			<td>
				<div title="Curium" class="atom-cm actinide from-decay" data-number="96">Cm</div>
			</td>
			<td>
				<div title="Berkelium" class="atom-bk actinide from-decay" data-number="97">Bk</div>
			</td>
			<td>
				<div title="Californium" class="atom-cf actinide from-decay" data-number="98">Cf</div>
			</td>
			<td>
				<div title="Einsteinium" class="atom-es actinide synthetic" data-number="99">Es</div>
			</td>
			<td>
				<div title="Fermium" class="atom-fm actinide synthetic unknown-phase" data-number="100">Fm</div>
			</td>
			<td>
				<div title="Mendelevium" class="atom-md actinide synthetic unknown-phase" data-number="101">Md</div>
			</td>
			<td>
				<div title="Nobelium" class="atom-no actinide synthetic unknown-phase" data-number="102">No</div>
			</td>
			<td>
				<div title="Lawrencium" class="atom-lr actinide synthetic unknown-phase" data-number="103">Lr</div>
			</td>
			<td></td>
		</tr>
	</table>
	<fieldset>
		<label>
			<input type="radio" value="single" name="mode">Single
		</label>
		<label>
			<input type="radio" value="list" name="mode">List
		</label>
		<label>
			<input type="radio" value="not-list" name="mode">Not List
		</label>
	</fieldset>
	<footer>
		<input type="button" value="Cancel">
		<input type="button" value="OK">
	</footer>
</form>
