<form role="dialog" id="elem-table" style="display:none;">
	<header>Periodic table</header>
	<table summary="Periodic table of the chemical elements">
		<tr>
			<th></th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>7</th>
			<th>8</th>
			<th>9</th>
			<th>10</th>
			<th>11</th>
			<th>12</th>
			<th>13</th>
			<th>14</th>
			<th>15</th>
			<th>16</th>
			<th>17</th>
			<th>18</th>
		</tr>
		<tr>
			<th>
				1
			</th>
			<td>
				<button title="Hydrogen" class="atom-h diatomic gas" value="1">H</button>
			</td>
			<td colspan="16"></td>
			<td>
				<button title="Helium" class="atom-he noble gas" value="2">He</button>
			</td>
		</tr>
		<tr>
			<th>2</th>
			<td>
				<button title="Lithium" class="atom-li alkali metal" value="3">Li</button>
			</td>
			<td>
				<button title="Beryllium" class="atom-be alkaline-earth metal" value="4">Be</button>
			</td>
			<td colspan="10"></td>
			<td>
				<button title="Boron" class="atom-b metalloid" value="5">B</button>
			</td>
			<td>
				<button title="Carbon" class="atom-c polyatomic" value="6">C</button>
			</td>
			<td>
				<button title="Nitrogen" class="atom-n diatomic gas" value="7">N</button>
			</td>
			<td>
				<button title="Oxygen" class="atom-o diatomic gas" value="8">O</button>
			</td>
			<td>
				<button title="Fluorine" class="atom-f diatomic gas" value="9">F</button>
			</td>
			<td>
				<button title="Neon" class="atom-ne noble gas" value="10">Ne</button>
			</td>
		</tr>
		<tr>
			<th>3</th>
			<td>
				<button title="Sodium" class="atom-na alkali metal" value="11">Na</button>
			</td>
			<td>
				<button title="Magnesium" class="atom-mg alkaline-earth metal" value="12">Mg</button>
			</td>
			<td colspan="10"></td>
			<td>
				<button title="Aluminium" class="atom-al post-transition metal" value="13">Al</button>
			</td>
			<td>
				<button title="Silicon" class="atom-si metalloid" value="14">Si</button>
			</td>
			<td>
				<button title="Phosphorus" class="atom-p polyatomic" value="15">P</button>
			</td>
			<td>
				<button title="Sulfur" class="atom-s polyatomic" value="16">S</button>
			</td>
			<td>
				<button title="Chlorine" class="atom-cl diatomic gas" value="17">Cl</button>
			</td>
			<td>
				<button title="Argon" class="atom-ar noble gas" value="18">Ar</button>
			</td>
		</tr>
		<tr>
			<th>4</th>
			<td>
				<button title="Potassium" class="atom-k alkali metal" value="19">K</button>
			</td>
			<td>
				<button title="Calcium" class="atom-ca alkaline-earth metal" value="20">Ca</button>
			</td>
			<td>
				<button title="Scandium" class="atom-sc transition metal" value="21">Sc</button>
			</td>
			<td>
				<button title="Titanium" class="atom-ti transition metal" value="22">Ti</button>
			</td>
			<td>
				<button title="Vanadium" class="atom-v transition metal" value="23">V</button>
			</td>
			<td>
				<button title="Chromium" class="atom-cr transition metal" value="24">Cr</button>
			</td>
			<td>
				<button title="Manganese" class="atom-mn transition metal" value="25">Mn</button>
			</td>
			<td>
				<button title="Iron" class="atom-fe transition metal" value="26">Fe</button>
			</td>
			<td>
				<button title="Cobalt" class="atom-co transition metal" value="27">Co</button>
			</td>
			<td>
				<button title="Nickel" class="atom-ni transition metal" value="28">Ni</button>
			</td>
			<td>
				<button title="Copper" class="atom-cu transition metal" value="29">Cu</button>
			</td>
			<td>
				<button title="Zinc" class="atom-zn transition metal" value="30">Zn</button>
			</td>
			<td>
				<button title="Gallium" class="atom-ga post-transition metal" value="31">Ga</button>
			</td>
			<td>
				<button title="Germanium" class="atom-ge metalloid" value="32">Ge</button>
			</td>
			<td>
				<button title="Arsenic" class="atom-as metalloid" value="33">As</button>
			</td>
			<td>
				<button title="Selenium" class="atom-se polyatomic" value="34">Se</button>
			</td>
			<td>
				<button title="Bromine" class="atom-br diatomic liquid" value="35">Br</button>
			</td>
			<td>
				<button title="Krypton" class="atom-kr noble gas" value="36">Kr</button>
			</td>
		</tr>
		<tr>
			<th>5</th>
			<td>
				<button title="Rubidium" class="atom-rb alkali metal" value="37">Rb</button>
			</td>
			<td>
				<button title="Strontium" class="atom-sr alkaline-earth metal" value="38">Sr</button>
			</td>
			<td>
				<button title="Yttrium" class="atom-y transition metal" value="39">Y</button>
			</td>
			<td>
				<button title="Zirconium" class="atom-zr transition metal" value="40">Zr</button>
			</td>
			<td>
				<button title="Niobium" class="atom-nb transition metal" value="41">Nb</button>
			</td>
			<td>
				<button title="Molybdenum" class="atom-mo transition metal" value="42">Mo</button>
			</td>
			<td>
				<button title="Technetium" class="atom-tc transition metal from-decay" value="43">Tc</button>
			</td>
			<td>
				<button title="Ruthenium" class="atom-ru transition metal" value="44">Ru</button>
			</td>
			<td>
				<button title="Rhodium" class="atom-rh transition metal" value="45">Rh</button>
			</td>
			<td>
				<button title="Palladium" class="atom-pd transition metal" value="46">Pd</button>
			</td>
			<td>
				<button title="Silver" class="atom-ag transition metal" value="47">Ag</button>
			</td>
			<td>
				<button title="Cadmium" class="atom-cd transition metal" value="48">Cd</button>
			</td>
			<td>
				<button title="Indium" class="atom-in post-transition metal" value="49">In</button>
			</td>
			<td>
				<button title="Tin" class="atom-sn post-transition metal" value="50">Sn</button>
			</td>
			<td>
				<button title="Antimony" class="atom-sb metalloid" value="51">Sb</button>
			</td>
			<td>
				<button title="Tellurium" class="atom-te metalloid" value="52">Te</button>
			</td>
			<td>
				<button title="Iodine" class="atom-i diatomic" value="53">I</button>
			</td>
			<td>
				<button title="Xenon" class="atom-xe noble gas" value="54">Xe</button>
			</td>
		</tr>
		<tr>
			<th>6</th>
			<td>
				<button title="Caesium" class="atom-cs alkali metal" value="55">Cs</button>
			</td>
			<td>
				<button title="Barium" class="atom-ba alkaline-earth metal" value="56">Ba</button>
			</td>
			<td class="ref">*</td>
			<td>
				<button title="Hafnium" class="atom-hf transition metal" value="72">Hf</button>
			</td>
			<td>
				<button title="Tantalum" class="atom-ta transition metal" value="73">Ta</button>
			</td>
			<td>
				<button title="Tungsten" class="atom-w transition metal" value="74">W</button>
			</td>
			<td>
				<button title="Rhenium" class="atom-re transition metal" value="75">Re</button>
			</td>
			<td>
				<button title="Osmium" class="atom-os transition metal" value="76">Os</button>
			</td>
			<td>
				<button title="Iridium" class="atom-ir transition metal" value="77">Ir</button>
			</td>
			<td>
				<button title="Platinum" class="atom-pt transition metal" value="78">Pt</button>
			</td>
			<td>
				<button title="Gold" class="atom-au transition metal" value="79">Au</button>
			</td>
			<td>
				<button title="Mercury" class="atom-hg transition metal liquid" value="80">Hg</button>
			</td>
			<td>
				<button title="Thallium" class="atom-tl post-transition metal" value="81">Tl</button>
			</td>
			<td>
				<button title="Lead" class="atom-pb post-transition metal" value="82">Pb</button>
			</td>
			<td>
				<button title="Bismuth" class="atom-bi post-transition metal" value="83">Bi</button>
			</td>
			<td>
				<button title="Polonium" class="atom-po post-transition metal from-decay" value="84">Po</button>
			</td>
			<td>
				<button title="Astatine" class="atom-at metalloid from-decay" value="85">At</button>
			</td>
			<td>
				<button title="Radon" class="atom-rn noble gas from-decay" value="86">Rn</button>
			</td>
		</tr>
		<tr>
			<th>7</th>
			<td>
				<button title="Francium" class="atom-fr alkali metal from-decay" value="87">Fr</button>
			</td>
			<td>
				<button title="Radium" class="atom-ra alkaline-earth metal from-decay" value="88">Ra</button>
			</td>
			<td class="ref">**</td>
			<td>
				<button title="Rutherfordium" class="atom-rf transition metal synthetic unknown-phase" value="104">Rf</button>
			</td>
			<td>
				<button title="Dubnium" class="atom-db transition metal synthetic unknown-phase" value="105">Db</button>
			</td>
			<td>
				<button title="Seaborgium" class="atom-sg transition metal synthetic unknown-phase" value="106">Sg</button>
			</td>
			<td>
				<button title="Bohrium" class="atom-bh transition metal synthetic unknown-phase" value="107">Bh</button>
			</td>
			<td>
				<button title="Hassium" class="atom-hs transition metal synthetic unknown-phase" value="108">Hs</button>
			</td>
			<td>
				<button title="Meitnerium" class="atom-mt synthetic unknown-properties" value="109">Mt</button>
			</td>
			<td>
				<button title="Darmstadtium" class="atom-ds synthetic unknown-properties" value="110">Ds</button>
			</td>
			<td>
				<button title="Roentgenium" class="atom-rg synthetic unknown-properties" value="111">Rg</button>
			</td>
			<td>
				<button title="Copernicium" class="atom-cn transition metal synthetic unknown-phase" value="112">Cn</button>
			</td>
			<td>
				<button title="Ununtrium" class="atom-uut synthetic unknown-properties" value="113">Uut</button>
			</td>
			<td>
				<button title="Flerovium" class="atom-fl synthetic unknown-properties" value="114">Fl</button>
			</td>
			<td>
				<button title="Ununpentium" class="atom-uup synthetic unknown-properties" value="115">Uup</button>
			</td>
			<td>
				<button title="Livermorium" class="atom-lv synthetic unknown-properties" value="116">Lv</button>
			</td>
			<td>
				<button title="Ununseptium" class="atom-uus synthetic unknown-properties" value="117">Uus</button>
			</td>
			<td>
				<button title="Ununoctium" class="atom-uuo synthetic unknown-properties" value="118">Uuo</button>
			</td>
		</tr>
		<tr>
			<th colspan="3" class="ref">*</th>
			<td>
				<button title="Lanthanum" class="atom-la lanthanide" value="57">La</button>
			</td>
			<td>
				<button title="Cerium" class="atom-ce lanthanide" value="58">Ce</button>
			</td>
			<td>
				<button title="Praseodymium" class="atom-pr lanthanide" value="59">Pr</button>
			</td>
			<td>
				<button title="Neodymium" class="atom-nd lanthanide" value="60">Nd</button>
			</td>
			<td>
				<button title="Promethium" class="atom-pm lanthanide from-decay" value="61">Pm</button>
			</td>
			<td>
				<button title="Samarium" class="atom-sm lanthanide" value="62">Sm</button>
			</td>
			<td>
				<button title="Europium" class="atom-eu lanthanide" value="63">Eu</button>
			</td>
			<td>
				<button title="Gadolinium" class="atom-gd lanthanide" value="64">Gd</button>
			</td>
			<td>
				<button title="Terbium" class="atom-tb lanthanide" value="65">Tb</button>
			</td>
			<td>
				<button title="Dysprosium" class="atom-dy lanthanide" value="66">Dy</button>
			</td>
			<td>
				<button title="Holmium" class="atom-ho lanthanide" value="67">Ho</button>
			</td>
			<td>
				<button title="Erbium" class="atom-er lanthanide" value="68">Er</button>
			</td>
			<td>
				<button title="Thulium" class="atom-tm lanthanide" value="69">Tm</button>
			</td>
			<td>
				<button title="Ytterbium" class="atom-yb lanthanide" value="70">Yb</button>
			</td>
			<td>
				<button title="Lutetium" class="atom-lu lanthanide" value="71">Lu</button>
			</td>
			<td></td>
		</tr>
		<tr>
			<th colspan="3" class="ref">**</th>
			<td>
				<button title="Actinium" class="atom-ac actinide from-decay" value="89">Ac</button>
			</td>
			<td>
				<button title="Thorium" class="atom-th actinide" value="90">Th</button>
			</td>
			<td>
				<button title="Protactinium" class="atom-pa actinide from-decay" value="91">Pa</button>
			</td>
			<td>
				<button title="Uranium" class="atom-u actinide" value="92">U</button>
			</td>
			<td>
				<button title="Neptunium" class="atom-np actinide from-decay" value="93">Np</button>
			</td>
			<td>
				<button title="Plutonium" class="atom-pu actinide" value="94">Pu</button>
			</td>
			<td>
				<button title="Americium" class="atom-am actinide from-decay" value="95">Am</button>
			</td>
			<td>
				<button title="Curium" class="atom-cm actinide from-decay" value="96">Cm</button>
			</td>
			<td>
				<button title="Berkelium" class="atom-bk actinide from-decay" value="97">Bk</button>
			</td>
			<td>
				<button title="Californium" class="atom-cf actinide from-decay" value="98">Cf</button>
			</td>
			<td>
				<button title="Einsteinium" class="atom-es actinide synthetic" value="99">Es</button>
			</td>
			<td>
				<button title="Fermium" class="atom-fm actinide synthetic unknown-phase" value="100">Fm</button>
			</td>
			<td>
				<button title="Mendelevium" class="atom-md actinide synthetic unknown-phase" value="101">Md</button>
			</td>
			<td>
				<button title="Nobelium" class="atom-no actinide synthetic unknown-phase" value="102">No</button>
			</td>
			<td>
				<button title="Lawrencium" class="atom-lr actinide synthetic unknown-phase" value="103">Lr</button>
			</td>
			<td></td>
		</tr>
	</table>
	<fieldset>
		<label>
			<input type="radio" value="single" name="mode">Single
		</label>
		<label>
			<input type="radio" value="list" name="mode">List
		</label>
		<label>
			<input type="radio" value="not-list" name="mode">Not List
		</label>
	</fieldset>
	<footer>
		<input type="button" value="Cancel">
		<input type="button" value="OK">
	</footer>
</form>
