{{#unless no-groups}}
	<form role="dialog" id="rgroup-table" style="display:none;">
		<header>R-Group</header>
		<ul>
			<li><button>R1</button></li>
			<li><button>R2</button></li>
			<li><button>R3</button></li>
			<li><button>R4</button></li>
			<li><button>R5</button></li>
			<li><button>R6</button></li>
			<li><button>R7</button></li>
			<li><button>R8</button></li>
			<li><button>R9</button></li>
			<li><button>R10</button></li>
			<li><button>R11</button></li>
			<li><button>R12</button></li>
			<li><button>R13</button></li>
			<li><button>R14</button></li>
			<li><button>R15</button></li>
			<li><button>R16</button></li>
			<li><button>R17</button></li>
			<li><button>R18</button></li>
			<li><button>R19</button></li>
			<li><button>R20</button></li>
			<li><button>R21</button></li>
			<li><button>R22</button></li>
			<li><button>R23</button></li>
			<li><button>R24</button></li>
			<li><button>R25</button></li>
			<li><button>R26</button></li>
			<li><button>R27</button></li>
			<li><button>R28</button></li>
			<li><button>R29</button></li>
			<li><button>R30</button></li>
			<li><button>R31</button></li>
			<li><button>R32</button></li>
		</ul>
		<footer>
			<input type="button" value="Cancel">
			<input type="button" value="OK">
		</footer>
	</form>
{{/unless}}
