{{#unless no-groups}}
<div class="dialogWindow rgroupTableDialog" id="rgroup_table" style="display:none;">
	<div>
		<div>
			R-Group
		</div>
		<div style="height:0.5em"></div>
		<div id="rgroup_table_area"></div>
		<div style="margin-top:0.5em">
			<input id="rgroup_table_cancel" type="button" value="Cancel">
			<input id="rgroup_table_ok" type="button" value="OK">
		</div>
	</div>
</div>
{{/unless}}
