{{#unless no-groups}}
	<form role="dialog" id="rgroup-table" style="display:none;">
		<header>R-Group</header>
		<ul>
			<li><button value="1">R1</button></li>
			<li><button value="2">R2</button></li>
			<li><button value="3">R3</button></li>
			<li><button value="4">R4</button></li>
			<li><button value="5">R5</button></li>
			<li><button value="6">R6</button></li>
			<li><button value="7">R7</button></li>
			<li><button value="8">R8</button></li>
			<li><button value="9">R9</button></li>
			<li><button value="10">R10</button></li>
			<li><button value="11">R11</button></li>
			<li><button value="12">R12</button></li>
			<li><button value="13">R13</button></li>
			<li><button value="14">R14</button></li>
			<li><button value="15">R15</button></li>
			<li><button value="16">R16</button></li>
			<li><button value="17">R17</button></li>
			<li><button value="18">R18</button></li>
			<li><button value="19">R19</button></li>
			<li><button value="20">R20</button></li>
			<li><button value="21">R21</button></li>
			<li><button value="22">R22</button></li>
			<li><button value="23">R23</button></li>
			<li><button value="24">R24</button></li>
			<li><button value="25">R25</button></li>
			<li><button value="26">R26</button></li>
			<li><button value="27">R27</button></li>
			<li><button value="28">R28</button></li>
			<li><button value="29">R29</button></li>
			<li><button value="30">R30</button></li>
			<li><button value="31">R31</button></li>
			<li><button value="32">R32</button></li>
		</ul>
		<footer>
			<input type="button" value="Cancel">
			<input type="button" value="OK">
		</footer>
	</form>
{{/unless}}
