<form role="dialog" id="rlogic_table" style="display:none;">
	<header>R-Group Logic</header>
	<label>Occurrence:
		<input name="range" type="text" maxlength="50">
	</label>
	<label>RestH:
		<select name="resth">
			<option value="0">Off</option>
			<option value="1">On</option>
		</select>
	</label>
	<label>Condition:
		<select name="ifthen">
			<option value="0">Always</option>
		</select>
	</label>
	<footer>
		<input type="button" value="Cancel">
		<input type="button" value="OK">
	</footer>
</form>
