<div class="dialogWindow fileDialog" id="save_file" style="display:none;">
	<div style="width:100%">
		<div>
			Save File
		</div>
		<div style="height:0.5em"></div>
		<div>
			<label>Format:</label>
			<select id="file_format">Format:
				<option value="mol">MDL/Symyx Molfile</option>
				<option value="smi">Daylight SMILES</option>
				<option id="file_format_inchi" value="inchi">InChI String</option>
				<!--option value="png">Portable Network Graphics PNG</option>
				<option value="svg">Scalable Vector Graphics SVG</option-->
			</select>
		</div>
		<div style="margin:4px;">
			<textarea class="chemicalText" id="output_mol" wrap="off" readonly></textarea>
			<form	id="download_mol" style="margin-top:0.5em;text-align:center" action="save" enctype="multipart/form-data" target="_self" method="post">
				<input type="hidden" id="mol_data" name="filedata" />
				<input type="submit" class="serverRequired" value="Save..." />
				<input id="save_ok" type="button" value="Close" />
			</form>
		</div>
	</div>
</div>
