<form role="dialog" id="save-file" style="display:none;">
	<header>Save Structure</header>
	<label>Format:
		<select>Format:
			<option value="mol">MDL/Symyx Molfile</option>
			<option value="smi">Daylight SMILES</option>
			<option value="inchi">InChI String</option>
		</select>
	</label>
	<textarea readonly></textarea>
	<footer>
		<a class="save" download>Save To File…</a>
		<input type="button" value="Close">
	</footer>
</form>
