{{#unless no-groups}}
	<form role="dialog" id="sgroup_special" style="display:none;">
		<header>S-Group Properties</header>
		<label>Context:
			<select class="context">
				<option value="fragment">Fragment</option>
				<option value="bond">Single bond</option>
				<option value="atom">Atom</option>
                <option value="group">Group</option>
			</select>
		</label>
		<fieldset class="data">
		  <label class="sgroup_field_name">Field name:
          	<select id="sgroup_field_name">
            </select>
		  </label>
		  <label class="sgroup_field_value">Field value:
			<textarea id="sgroup_field_value"></textarea>
		  </label>
		  <label class="pos">
			<input type="radio" id="sgroup_pos_absolute" name="data_field_pos" checked>
			Absolute
		  </label>
		  <label class="pos">
			<input type="radio" id="sgroup_pos_relative" name="data_field_pos">
			Relative
		  </label>
		  <label class="pos">
			<input type="radio" id="sgroup_pos_attached" name="data_field_pos">
			Attached
		  </label>
		</fieldset>
	    <footer>
		  <input type="button" value="Cancel">
		  <input type="button" value="OK">
	    </footer>
	</form>
{{/unless}}
