{{#unless no-groups}}
	<script type="text/x-template" id="sgroup-tmpl">
		<header>S-Group Properties</header>
		<label>Type:
			<select name="type">
				<option value="GEN">Generic</option>
				<option value="MUL">Multiple group</option>
				<option value="SRU">SRU polymer</option>
				<option value="SUP">Superatom</option>
				<option value="DAT">Data</option>
			</select>
		</label>
		<fieldset class="base">
			<label>Connection:
				<select name="connectivity">
					<option value="ht">Head-to-tail</option>
					<option value="hh">Head-to-head</option>
					<option value="eu">Either unknown</option>
				</select>
			</label>
			<label>Label (subscript):
				<input name="label" type="text" maxlength="15">
			</label>
		</fieldset>
		<fieldset class="data">
			<label>Field name:
				<input name="fieldName" type="text" maxlength="30">
			</label>
			<label>Field value:
				<textarea name="fieldValue"></textarea>
			</label>
			<label class="pos">
				<input type="radio" value="absolute" name="fieldPos" checked>
				Absolute
			</label>
			<label class="pos">
				<input type="radio" value="relative" name="fieldPos">
				Relative
			</label>
			<label class="pos">
				<input type="radio" value="attached" name="fieldPos">
				Attached
			</label>
		</fieldset>
		<footer>
			<input type="button" value="Cancel">
			<input type="button" value="OK">
		</footer>
	</script>
{{/unless}}
