{{#unless no-groups}}
	<script type="text/x-template" id="sgroup-special-tmpl">
		<header>S-Group Properties</header>
		<label>Context:
			<select name="context">
				<option value="Fragment">Fragment</option>
				<option value="Single Bond">Single Bond</option>
				<option value="Atom">Atom</option>
				<option value="Group">Group</option>
			</select>
		</label>
		<fieldset class="data">
			<label>Field name:
				<select name="fieldName">
				</select>
			</label>
			<label>Field value:
				<textarea name="fieldValue"></textarea>
			</label>
			<label class="pos">
				<input type="radio" value="absolute" name="fieldPos" checked>
				Absolute
			</label>
			<label class="pos">
				<input type="radio" value="relative" name="fieldPos">
				Relative
			</label>
			<label class="pos">
				<input type="radio" value="attached" name="fieldPos">
				Attached
			</label>
		</fieldset>
		<footer>
			<input type="button" value="Cancel">
			<input type="button" value="OK">
		</footer>
	</script>
{{/unless}}
