{{#unless no-groups}}
	<form role="dialog" id="sgroup_properties" style="display:none;">
		<header>S-Group Properties</header>
		<label>Type:
			<select id="sgroup_type">
				<option value="GEN">Generic</option>
				<option value="MUL">Multiple group</option>
				<option value="SRU">SRU polymer</option>
				<option value="SUP">Superatom</option>
				<option value="DAT">Data</option>
			</select>
		</label>
		<fieldset class="base">
			<label>Connection:
				<select id="sgroup_connection">
					<option value="ht">Head-to-tail</option>
					<option value="hh">Head-to-head</option>
					<option value="eu">Either unknown</option>
				</select>
			</label>
			<label>Label (subscript):
				<input id="sgroup_label" type="text" maxlength="15">
			</label>
		</fieldset>
		<fieldset class="data">
			<label>Field name:
				<input id="sgroup_field_name" type="text" maxlength="30">
			</label>
			<label>Field value:
				<textarea id="sgroup_field_value"></textarea>
			</label>
			<label class="pos">
				<input type="radio" id="sgroup_pos_absolute" name="data_field_pos" checked>
				Absolute
			</label>
			<label class="pos">
				<input type="radio" id="sgroup_pos_relative" name="data_field_pos">
				Relative
			</label>
			<label class="pos">
				<input type="radio" id="sgroup_pos_attached" name="data_field_pos">
				Attached
			</label>
		</fieldset>
	    <footer>
		  <input type="button" value="Cancel">
		  <input type="button" value="OK">
	    </footer>
	</form>
{{/unless}}
