<form role="dialog" id="custom_templates" style="display:none">
	<header>Custom templates</header>
	 <ul></ul>
	<footer>
		<input type="button" value="Cancel">
		<input type="button" value="OK">
	</footer>
</form>
