@import '../../../../../../../style/variables.less';

.window {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 142px;
  background-color: @color-background-primary;
  z-index: 10;
  overflow: visible;
  border-radius: 10px;
  padding: 8px;
  box-shadow: -2px 2px 6px 0px @color-grey-4;
}

.button {
  width: 16px;
  height: 16px;
  border: none;
  margin: 2px;
  background-color: transparent;

  &:hover {
    color: @color-primary-green;
  }
}
