<li id="elements">
	<menu>
		<li id="atom">
			<menu>
				<li><button class="h-like" title="H Atom" accesskey="H">H</button></li>
				<li><button class="h-like" title="C Atom" accesskey="C">C</button></li>
				<li><button class="n-like" title="N Atom" accesskey="N">N</button></li>
				<li><button class="o-like" title="O Atom" accesskey="O">O</button></li>
				<li><button class="s-like" title="S Atom" accesskey="S">S</button></li>
				<li><button class="p-like" title="P Atom" accesskey="P">P</button></li>
				<li><button class="f-like" title="F Atom" accesskey="F">F</button></li>
				<li><button class="cl-like" title="Cl Atom" accesskey="Shift+C">Cl</button></li>
				<li><button class="br-like" title="Br Atom" accesskey="Shift+B">Br</button></li>
				<li><button class="i-like" title="I Atom" accesskey="I">I</button></li>
			</menu>
		</li>
		<li id="period-table"><button>Periodic table</button></li>
		{{#unless no-generics }}
			<li id="generic-groups"><button>Reaxys Generics</button></li>
		{{/unless}}
	</menu>
</li>
