<li id="elements">
	<menu>
		<li id="atom">
			<menu>
				<li><button id="atom-h" class="h-like" title="H Atom" accesskey="H">H</button></li>
				<li><button id="atom-c" class="h-like" title="C Atom" accesskey="C">C</button></li>
				<li><button id="atom-n" class="n-like" title="N Atom" accesskey="N">N</button></li>
				<li><button id="atom-o" class="o-like" title="O Atom" accesskey="O">O</button></li>
				<li><button id="atom-s" class="s-like" title="S Atom" accesskey="S">S</button></li>
				<li><button id="atom-p" class="p-like" title="P Atom" accesskey="P">P</button></li>
				<li><button id="atom-f" class="f-like" title="F Atom" accesskey="F">F</button></li>
				<li><button id="atom-cl" class="cl-like" title="Cl Atom" accesskey="Shift+C">Cl</button></li>
				<li><button id="atom-br" class="br-like" title="Br Atom" accesskey="Shift+B">Br</button></li>
				<li><button id="atom-i" class="i-like" title="I Atom" accesskey="I">I</button></li>
			</menu>
		</li>
		<li><button id="period-table">Periodic table</button></li>
		<li><button id="generic-groups">Reaxys Generics</button></li>
	</menu>
</li>
