<li id="elements">
	<menu>
		<li id="atom">
			<menu>
				<li id="atom-h"><button title="Hydrogen" class="atom-h diatomic gas" data-number="1" data-keys="H">H</button></li>
				<li id="atom-c"><button title="Carbon" class="atom-c polyatomic" data-number="6" data-keys="C">C</button></li>
				<li id="atom-n"><button title="Nitrogen" class="atom-n diatomic gas" data-number="7" data-keys="N">N</button></li>
				<li id="atom-o"><button title="Oxygen" class="atom-o diatomic gas" data-number="8" data-keys="O">O</button></li>
				<li id="atom-s"><button title="Sulfur" class="atom-s polyatomic" data-number="16" data-keys="S">S</button></li>
				<li id="atom-p"><button title="Phosphorus" class="atom-p polyatomic" data-number="15" data-keys="P">P</button></li>
				<li id="atom-f"><button title="Fluorine" class="atom-f diatomic gas" data-number="9" data-keys="F">F</button></li>
				<li id="atom-cl"><button title="Chlorine" class="atom-cl diatomic gas" data-number="17" data-keys="Shift-C">Cl</button></li>
				<li id="atom-br"><button title="Bromine" class="atom-br diatomic liquid" data-number="35"  data-keys="Shift-B">Br</button></li>
				<li id="atom-i"><button title="Iodine" class="atom-i diatomic" data-number="53" data-keys="I">I</button></li>
			</menu>
		</li>
		<li id="period-table"><button>Periodic table</button></li>
		{{#unless no-generics}}
			<li id="generic-groups"><button>Reaxys Generics</button></li>
		{{/unless}}
	</menu>
</li>
