<li id="mainmenu">
	<menu>
		<li id="document">
			<menu>
				<li id="new"><button data-keys="Mod-n">Clear Canvas</button></li>
				<li id="open"><button data-keys="Mod-o">Open…</button></li>
				<li id="save"><button data-keys="Mod-s">Save As…</button></li>
			</menu>
		</li>
		<li id="edit">
			<menu>
				<li id="undo"><button data-keys="Mod-z">Undo</button></li>
				<li id="redo"><button data-keys="Mod-Shift-z, Mod-y">Redo</button></li>
				<li id="cut"><button data-keys="Mod-x">Cut</button></li>
				<li id="copy"><button data-keys="Mod-c">Copy</button></li>
				<li id="paste"><button data-keys="Mod-v">Paste</button></li>
			</menu>
		</li>
		<li id="zoom">
			<menu>
				<li id="zoom-in"><button data-keys="+, =, Shift-=">Zoom In</button></li>
				<li id="zoom-out"><button data-keys="-, _, Shift--">Zoom Out</button></li>
				<li id="zoom-list">
					<select autocomplete="off">
						<option>20%</option>
						<option>30%</option>
						<option>40%</option>
						<option>50%</option>
						<option>60%</option>
						<option>70%</option>
						<option>80%</option>
						<option>90%</option>
						<option selected>100%</option>
						<option>110%</option>
						<option>120%</option>
						<option>130%</option>
						<option>140%</option>
						<option>150%</option>
						<option>170%</option>
						<option>200%</option>
						<option>250%</option>
						<option>300%</option>
						<option>350%</option>
						<option>400%</option>
					</select>
				</li>
			</menu>
		</li>
		<li id="process">
			<menu>
				<li id="layout"><button data-keys="Mod-l">Layout</button></li>
				<li id="clean"><button data-keys="Mod-Shift-l">Clean Up</button></li>
				<li id="arom"><button>Aromatize</button></li>
				<li id="dearom"><button>Dearomatize</button></li>
				<li id="cip"><button data-keys="Mod-p">Calculate CIP</button></li>
				<li id="check"><button>Check Structure</button></li>
				<li id="analyse"><button>Calculated Values</button></li>
				<li id="recognize"><button>Recognize Molecule</button></li>
				{{#if miew-path}}
					<li id="miew"><button>3D Viewer</button></li>
				{{/if}}
			</menu>
		</li>
		<li id="meta">
			<menu>
				<li id="settings"><button>Settings</button></li>
				<li id="help"><button data-keys="?, Shift-/">Help</button></li>
				<li id="about"><button>About</button></li>
			</menu>
		</li>
	</menu>
</li>
