<li id="mainmenu">
	<menu>
		<li id="document">
			<menu>
				<li id="new"><button data-keys="Defmod-N">Clear Canvas</button></li>
				<li id="open"><button data-keys="Defmod-O">Open…</button></li>
				<li id="save"><button data-keys="Defmod-S">Save As…</button></li>
			</menu>
		</li>
		<li id="edit">
			<menu>
				<li id="undo"><button data-keys="Defmod-Z">Undo</button></li>
				<li id="redo"><button data-keys="Defmod-Shift-Z, Defmod-Y">Redo</button></li>
				<li id="cut"><button data-keys="Defmod-X">Cut</button></li>
				<li id="copy"><button data-keys="Defmod-C">Copy</button></li>
				<li id="paste"><button data-keys="Defmod-V">Paste</button></li>
			</menu>
		</li>
		<li id="zoom">
			<menu>
				<li id="zoom-in"><button data-keys="+, =, Shift-=">Zoom In</button></li>
				<li id="zoom-out"><button data-keys="minus, Shift-minus">Zoom Out</button></li>
				<li id="zoom-list">
					<select>
						<option>20%</option>
						<option>30%</option>
						<option>40%</option>
						<option>50%</option>
						<option>60%</option>
						<option>70%</option>
						<option>80%</option>
						<option>90%</option>
						<option selected>100%</option>
						<option>110%</option>
						<option>120%</option>
						<option>130%</option>
						<option>140%</option>
						<option>150%</option>
						<option>170%</option>
						<option>200%</option>
						<option>250%</option>
						<option>300%</option>
						<option>350%</option>
						<option>400%</option>
					</select>
				</li>
			</menu>
		</li>
		<li id="process">
			<menu>
				<li id="cleanup"><button data-keys="Defmod-L">Clean Up</button></li>
				<li id="arom"><button>Aromatize</button></li>
				<li id="dearom"><button>Dearomatize</button></li>
				<li id="calc-cip"><button data-keys="Alt-P">Calculate CIP</button></li>
			</menu>
		</li>
		<li id="meta">
			<menu>
				<li id="info"><button data-keys="Shift-/">About</button></li>
				<li id="settings"><button>Settings</button></li>
			</menu>
		</li>
	</menu>
</li>
