<li id="mainmenu">
	<menu>
		<li id="document">
			<menu>
				<li><button id="new" accesskey="Ctrl-N">Clear Canvas</button></li>
				<li><button id="open" accesskey="Ctrl-O">Open…</button></li>
				<li><button id="save" accesskey="Ctrl-S">Save As…</button></li>
			</menu>
		</li>
		<li id="edit">
			<menu>
				<li><button id="undo" accesskey="Ctrl+Z">Undo</button></li>
				<li><button id="redo" accesskey="Ctrl+Y">Redo</button></li>
				<li><button id="cut" accesskey="Ctrl+X">Cut</button></li>
				<li><button id="copy" accesskey="Ctrl+C">Copy</button></li>
				<li><button id="paste" accesskey="Ctrl+V">Paste</button></li>
			</menu>
		</li>
		<li id="zoom">
			<menu>
				<li><button id="zoom-in" accesskey="+">Zoom In</button></li>
				<li><button id="zoom-out" accesskey="-">Zoom Out</button></li>
				<li><select id="zoom-list"></select></li>
			</menu>
		</li>
		<li id="process">
			<menu>
				<li><button id="cleanup" accesskey="Ctrl+L">Clean Up</button></li>
				<li><button id="arom">Aromatize</button></li>
				<li><button id="dearom">Dearomatize</button></li>
			</menu>
		</li>
		<li id="meta">
			<menu>
				<li><button id="info">About</button></li>
				<li><button id="settings">Settings</button></li>
			</menu>
		</li>
	</menu>
</li>
