<li id="mainmenu">
	<menu>
		<li id="document">
			<menu>
				<li id="new"><button accesskey="Ctrl-N">Clear Canvas</button></li>
				<li id="open"><button accesskey="Ctrl-O">Open…</button></li>
				<li id="save"><button accesskey="Ctrl-S">Save As…</button></li>
			</menu>
		</li>
		<li id="edit">
			<menu>
				<li id="undo"><button accesskey="Ctrl+Z">Undo</button></li>
				<li id="redo"><button accesskey="Ctrl+Y">Redo</button></li>
				<li id="cut"><button accesskey="Ctrl+X">Cut</button></li>
				<li id="copy"><button accesskey="Ctrl+C">Copy</button></li>
				<li id="paste"><button accesskey="Ctrl+V">Paste</button></li>
			</menu>
		</li>
		<li id="zoom">
			<menu>
				<li id="zoom-in"><button accesskey="+">Zoom In</button></li>
				<li id="zoom-out"><button accesskey="-">Zoom Out</button></li>
				<li id="zoom-list"><select></select></li>
			</menu>
		</li>
		<li id="process">
			<menu>
				<li id="cleanup"><button accesskey="Ctrl+L">Clean Up</button></li>
				<li id="arom"><button>Aromatize</button></li>
				<li id="dearom"><button>Dearomatize</button></li>
			</menu>
		</li>
		<li id="meta">
			<menu>
				<li id="info"><button>About</button></li>
				<li id="settings"><button>Settings</button></li>
			</menu>
		</li>
	</menu>
</li>
