<li id="template">
	<menu>
		<li id="template-common">
			<menu>
				<li id="template-0"><button data-keys="T">Benzene</button></li>
				<li id="template-1"><button data-keys="T">Cyclopentadiene</button></li>
				<li id="template-2"><button data-keys="T">Cyclohexane</button></li>
				<li id="template-3"><button data-keys="T">Cyclopentane</button></li>
				<li id="template-4"><button data-keys="T">Cyclopropane</button></li>
				<li id="template-5"><button data-keys="T">Cyclobutane</button></li>
				<li id="template-6"><button data-keys="T">Cycloheptane</button></li>
				<li id="template-7"><button data-keys="T">Cyclooctane</button></li>
			</menu>
		</li>
		<li id="template-custom"><button data-keys="Shift-T">Custom Templates</button></li>
	</menu>
</li>
