<li id="template">
	<menu>
		<li><button id="template-0" accesskey="T">Benzene</button></li>
		<li><button id="template-1" accesskey="T">Cyclopentadiene</button></li>
		<li><button id="template-2" accesskey="T">Cyclohexane</button></li>
		<li><button id="template-3" accesskey="T">Cyclopentane</button></li>
		<li><button id="template-4" accesskey="T">Cyclopropane</button></li>
		<li><button id="template-5" accesskey="T">Cyclobutane</button></li>
		<li><button id="template-6" accesskey="T">Cycloheptane</button></li>
		<li><button id="template-7" accesskey="T">Cyclooctane</button></li>
		<li><button id="template-custom">Custom Template</button></li>
	</menu>
</li>
