<li id="template">
	<menu>
		<li id="template-0"><button accesskey="T">Benzene</button></li>
		<li id="template-1"><button accesskey="T">Cyclopentadiene</button></li>
		<li id="template-2"><button accesskey="T">Cyclohexane</button></li>
		<li id="template-3"><button accesskey="T">Cyclopentane</button></li>
		<li id="template-4"><button accesskey="T">Cyclopropane</button></li>
		<li id="template-5"><button accesskey="T">Cyclobutane</button></li>
		<li id="template-6"><button accesskey="T">Cycloheptane</button></li>
		<li id="template-7"><button accesskey="T">Cyclooctane</button></li>
		<li id="template-custom"><button>Custom Templates</button></li>
	</menu>
</li>
