<li id="template">
	<menu>
		<li id="template-common">
			<menu>
				<li id="template-0"><button data-keys="t">Benzene</button></li>
				<li id="template-1"><button data-keys="t">Cyclopentadiene</button></li>
				<li id="template-2"><button data-keys="t">Cyclohexane</button></li>
				<li id="template-3"><button data-keys="t">Cyclopentane</button></li>
				<li id="template-4"><button data-keys="t">Cyclopropane</button></li>
				<li id="template-5"><button data-keys="t">Cyclobutane</button></li>
				<li id="template-6"><button data-keys="t">Cycloheptane</button></li>
				<li id="template-7"><button data-keys="t">Cyclooctane</button></li>
			</menu>
		</li>
		<li id="template-lib"><button data-keys="Shift-t">Custom Templates</button></li>
	</menu>
</li>
