<li id="toolbox">
	<menu>
		<li id="select">
			<menu>
				<li id="select-lasso"><button accesskey="Esc">Lasso Selection</button></li>
				<li id="select-rectangle"><button accesskey="Esc">Rectangle Selection</button></li>
				<li id="select-fragment"><button accesskey="Esc">Fragment Selection</button></li>
			</menu>
		</li>
		<li id="erase"><button>Erase</button></li>
		<li id="bond">
			<menu>
				<li id="bond-common">
					<menu>
						<li id="bond-single"><button accesskey="1">Single Bond</button></li>
						<li id="bond-double"><button accesskey="2">Double Bond</button></li>
						<li id="bond-triple"><button accesskey="3">Triple Bond</button></li>
					</menu>
				</li>
				<li id="bond-stereo">
					<menu>
						<li id="bond-up"><button accesskey="1">Single Up Bond</button></li>
						<li id="bond-down"><button accesskey="1">Single Down Bond</button></li>
						<li id="bond-updown"><button accesskey="1">Single Up/Down Bond</button></li>
						<li id="bond-crossed"><button accesskey="2">Double Cis/Trans Bond</button></li>
					</menu>
				</li>
				<li id="bond-query">
					<menu>
						<li id="bond-any"><button accesskey="0">Any Bond</button></li>
						<li id="bond-aromatic"><button accesskey="4">Aromatic Bond</button></li>
						<li id="bond-singledouble"><button>Single/Double Bond</button></li>
						<li id="bond-singlearomatic"><button>Single/Aromatic Bond</button></li>
						<li id="bond-doublearomatic"><button>Double/Aromatic Bond</button></li>
					</menu>
				</li>
			</menu>
		</li>
		<li id="chain"><button>Chain</button></li>
		<li id="charge">
			<menu>
				<li id="charge-plus"><button accesskey="5">Charge Plus</button></li>
				<li id="charge-minus"><button accesskey="5">Charge Minus</button></li>
			</menu>
		</li>
		<li id="transform">
			<menu>
				<li id="transform-rotate"><button>Rotate Tool</button></li>
				<li id="transform-flip-h"><button>Horizontal Flip</button></li>
				<li id="transform-flip-v"><button>Vertical Flip"</button></li>
			</menu>
		</li>
		{{#unless no-reaction}}
			<li id="reaction">
				<menu>
					<li id="reaction-arrow"><button>Reaction Arrow Tool</button></li>
					<li id="reaction-plus"><button>Reaction Plus Tool</button></li>
					<li id="reaction-automap"><button>Reaction Auto-Mapping Tool</button></li>
					<li id="reaction-map"><button>Reaction Mapping Tool</button></li>
					<li id="reaction-unmap"><button>Reaction Unmappping Tool</button></li>
				</menu>
			</li>
		{{/unless}}
		{{#unless no-group}}
			<li id="sgroup"><button accesskey="Ctrl+G">S-Group</button></li>
			<li id="rgroup">
				<menu>
					<li id="rgroup-label"><button accesskey="Shift+R">R-Group Label Tool</button></li>
					<li id="rgroup-fragment"><button accesskey="Shift+R">R-Group Fragment Tool</button></li>
					<li id="rgroup-attpoints"><button accesskey="Shift+R">Attachment Point Tool</button></li>
				</menu>
			</li>
		{{/unless}}
	</menu>
</li>
