.window {
  display: flex;
  width: 21em;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  font-family: Inter, FreeSans, Arimo, 'Droid Sans', Helvetica, 'Helvetica Neue',
    Arial, sans-serif;

  & > * {
    margin: 10px 10px;
  }
}

.question {
  text-align: left;
  color: gray;
}

.header {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.buttonOk,
.buttonCancel {
  border-radius: 2px;
  border: none;
  height: 1.8em;
  width: content-box;
}

.buttonOk {
  background: #3e7bfa;
  color: #fff;
}

.buttonOk:hover {
  background: #3265cd;
}

.buttonCancel {
  margin-right: 15px;
  background: #d1d5e3;
  color: #000;
}

.buttonCancel:hover {
  background: #aaadb9;
}
