<div id="toolText" style="display: none;"></div>

<input id="input_label" type="text" maxlength="4" size="4" style="display:none;" />

<div id="window_cover" style="display:none">
	<div id="loading" style="display:none"></div>
</div>

<iframe name="buffer_frame" id="buffer_frame" src="about:blank" style="display:none">
</iframe>
