<div class="dialogWindow elemTableDialog" id="elem_table" style="display:none;">
	<div>
		<div>
			Periodic table
		</div>
		<div style="height:0.5em"></div>
		<div id="elem_table_area"></div>
		<div align="left">
			<input type="radio" id="elem_table_single" name="atom_list"
						 onchange="if (!Prototype.Browser.IE) ui.elem_table_obj.setMode('single')"
						 onclick="if (Prototype.Browser.IE) ui.elem_table_obj.setMode('single')"
						 >Single</input> <br />
			<input type="radio" id="elem_table_list" name="atom_list"
						 onchange="if (!Prototype.Browser.IE) ui.elem_table_obj.setMode('list')"
						 onclick="if (Prototype.Browser.IE) ui.elem_table_obj.setMode('list')"
						 >List</input> <br />
			<input type="radio" id="elem_table_notlist" name="atom_list"
						 onchange="if (!Prototype.Browser.IE) ui.elem_table_obj.setMode('notlist')"
						 onclick="if (Prototype.Browser.IE) ui.elem_table_obj.setMode('notlist')"
						 >Not List</input>
		</div>
		<div style="margin-top:0.5em">
			<input id="elem_table_cancel" type="button" value="Cancel" />
			<input id="elem_table_ok" type="button" value="OK" />
		</div>
	</div>
</div>
