<form id="custom_templates" class="dialogWindow" style="display:none">
	<header>Custom templates</header>
   <ul>
	 </ul>
	 <!-- <input type="text"> -->
	 <footer>
		 <input type="button" value="Cancel">
		 <input type="button" value="OK" disabled>
	 </footer>
</form>
