@import '../../../../../../style/mixins.less';

.elements_table {
  width: 57em;

  .tabs {
    outline: none;
    .tabs_content {
      height: 31em;
    }
  }
  .period_table {
    position: relative;

    button {
      font-size: 1.3em;
      width: 2em;
      height: 2em;
      line-height: 2;
      vertical-align: middle;
      padding: 0.15em;
      margin: 1px;
      border: 0;
      display: block;
      position: relative;

      &:after {
        position: absolute;
        opacity: 0.6;
        top: 0.3em;
        right: 0.3em;
        font-size: 0.5em;
        line-height: 1;
        vertical-align: top;
        content: attr(value);
      }
      &:hover {
        &:after {
          visibility: hidden;
        }
      }
      &:not(:hover) > span {
        color: black;
      }
      &:hover {
        .highlight-scale(@scale:1.25);
        .highlight-shadow(black);
        z-index: 60;
        background: #fff;
      }
      &:active {
        .highlight-scale(none);
        .highlight-shadow(none);
      }
    }
  }
}
