.analyse {
	label {
		width: 10em;
		display: inline-block;
		vertical-align: middle;
		margin-right: 1em;
    }
    
	input[type=text] {
		width: 14em;
		margin-right: 1em;
    }
    
	select {
		width: 10em;
		margin: 0;
	}
}
